In [1]:
import pandas as pd
import numpy as np

In [218]:
df = pd.read_csv("survey_results_public.csv")
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [3]:
# df.loc[df['ConvertedComp'] > 1900000,'ConvertedComp'] = 1900000

In [4]:
df.loc[df['ConvertedComp']> 1900000,"ConvertedComp"] = 190000

In [5]:
df2 = df[df['ConvertedComp'] > 1900000]
df2

Empty DataFrame
Columns: [Respondent, MainBranch, Hobbyist, OpenSourcer, OpenSource, Employment, Country, Student, EdLevel, UndergradMajor, EduOther, OrgSize, DevType, YearsCode, Age1stCode, YearsCodePro, CareerSat, JobSat, MgrIdiot, MgrMoney, MgrWant, JobSeek, LastHireDate, LastInt, FizzBuzz, JobFactors, ResumeUpdate, CurrencySymbol, CurrencyDesc, CompTotal, CompFreq, ConvertedComp, WorkWeekHrs, WorkPlan, WorkChallenge, WorkRemote, WorkLoc, ImpSyn, CodeRev, CodeRevHrs, UnitTests, PurchaseHow, PurchaseWhat, LanguageWorkedWith, LanguageDesireNextYear, DatabaseWorkedWith, DatabaseDesireNextYear, PlatformWorkedWith, PlatformDesireNextYear, WebFrameWorkedWith, WebFrameDesireNextYear, MiscTechWorkedWith, MiscTechDesireNextYear, DevEnviron, OpSys, Containers, BlockchainOrg, BlockchainIs, BetterLife, ITperson, OffOn, SocialMedia, Extraversion, ScreenName, SOVisit1st, SOVisitFreq, SOVisitTo, SOFindAnswer, SOTimeSaved, SOHowMuchTime, SOAccount, SOPartFreq, SOJobs, EntTeams, SOComm, WelcomeChange, SONewContent, Age, Gender, Trans, Sexuality, Ethnicity, Dependents, SurveyLength, SurveyEase]
Index: []

[0 rows x 85 columns]

In [6]:
df['ConvertedComp'].max()

1872000.0

In [7]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [8]:
df[df['ConvertedComp']>1900000]

Empty DataFrame
Columns: [Respondent, MainBranch, Hobbyist, OpenSourcer, OpenSource, Employment, Country, Student, EdLevel, UndergradMajor, EduOther, OrgSize, DevType, YearsCode, Age1stCode, YearsCodePro, CareerSat, JobSat, MgrIdiot, MgrMoney, MgrWant, JobSeek, LastHireDate, LastInt, FizzBuzz, JobFactors, ResumeUpdate, CurrencySymbol, CurrencyDesc, CompTotal, CompFreq, ConvertedComp, WorkWeekHrs, WorkPlan, WorkChallenge, WorkRemote, WorkLoc, ImpSyn, CodeRev, CodeRevHrs, UnitTests, PurchaseHow, PurchaseWhat, LanguageWorkedWith, LanguageDesireNextYear, DatabaseWorkedWith, DatabaseDesireNextYear, PlatformWorkedWith, PlatformDesireNextYear, WebFrameWorkedWith, WebFrameDesireNextYear, MiscTechWorkedWith, MiscTechDesireNextYear, DevEnviron, OpSys, Containers, BlockchainOrg, BlockchainIs, BetterLife, ITperson, OffOn, SocialMedia, Extraversion, ScreenName, SOVisit1st, SOVisitFreq, SOVisitTo, SOFindAnswer, SOTimeSaved, SOHowMuchTime, SOAccount, SOPartFreq, SOJobs, EntTeams, SOComm, WelcomeChange, SONewContent, Age, Gender, Trans, Sexuality, Ethnicity, Dependents, SurveyLength, SurveyEase]
Index: []

[0 rows x 85 columns]

In [9]:
df2=df.copy()

### Aggregates

Aggregation means we are using multiple data to get a single metric/a single value to represents multiple data(Mean,Median,Mode)

In [10]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [11]:
df['ConvertedComp'].head()

0        NaN
1        NaN
2     8820.0
3    61000.0
4        NaN
Name: ConvertedComp, dtype: float64

In [12]:
df['ConvertedComp'].nlargest(100)

31793    1872000.0
16764    1860000.0
36107    1860000.0
68427    1860000.0
68865    1860000.0
           ...
50746    1584000.0
60676    1584000.0
83650    1572000.0
2751     1560000.0
4727     1560000.0
Name: ConvertedComp, Length: 100, dtype: float64

In [13]:
df['ConvertedComp'].nsmallest(10)

278     0.0
291     0.0
719     0.0
1101    0.0
1494    0.0
1678    0.0
1774    0.0
2011    0.0
2087    0.0
2656    0.0
Name: ConvertedComp, dtype: float64

In [14]:
df2.nlargest(10,"ConvertedComp")

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
31793,31984,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,30.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
16764,16855,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A natural science (ex. biology, chemistry, phy...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,46.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
36107,36331,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,30.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
68427,68865,"I am not primarily a developer, but I write co...",Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,41.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult
68865,69305,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,55.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
85379,85911,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,25.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
18633,18736,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed part-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A social science (ex. anthropology, psychology...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Tech...,46.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
12061,12117,"I am not primarily a developer, but I write co...",Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A social science (ex. anthropology, psychology...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Easy
23138,23267,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,37.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
18030,18131,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy

In [15]:
df2.nsmallest(10,"ConvertedComp")

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
278,280,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Not applicable - I did not use Stack Overflow ...,NaN,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
291,293,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Netherlands,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,31.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Easy
719,722,I am a developer by profession,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,NaN,Afghanistan,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,Too long,Difficult
1101,1105,I am a developer by profession,No,Never,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",Canada,No,"Professional degree (JD, MD, etc.)","A health science (ex. nursing, pharmacy, radio...",...,Just as welcome now as I felt last year,Courses on technologies you're interested in,65.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
1494,1501,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Woman,No,NaN,NaN,Yes,Too long,Difficult
1678,1685,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Brazil,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Neither easy nor difficult
1774,1782,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Other Country (Not Listed Above),No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Easy
2011,2019,I am a developer by profession,No,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Georgia,No,"Other doctoral degree (Ph.D, Ed.D., etc.)",Web development or web design,...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,NaN,Black or of African descent,Yes,Too long,Easy
2087,2095,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Difficult
2656,2665,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,34.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Easy

In [16]:
df2 = df.loc[100:200,:]

In [17]:
df2['ConvertedComp'].nlargest()

127    1000000.0
153     962424.0
155     960000.0
130     199450.0
124     194800.0
Name: ConvertedComp, dtype: float64

In [18]:
df2['ConvertedComp'].nsmallest()

167     979.0
172    2016.0
103    2169.0
176    2500.0
138    7556.0
Name: ConvertedComp, dtype: float64

In [19]:
df2['ConvertedComp'].max()

1000000.0

In [20]:
df['ConvertedComp'].min()

0.0

In [21]:
df2.dtypes

Respondent       int64
MainBranch      object
Hobbyist        object
OpenSourcer     object
OpenSource      object
                 ...
Sexuality       object
Ethnicity       object
Dependents      object
SurveyLength    object
SurveyEase      object
Length: 85, dtype: object

In [22]:
# df2['Sexuality'].max()

In [23]:
df2['ConvertedComp'].sum()

7670801.0

In [24]:
df2['ConvertedComp'].mean()

103659.47297297297

In [25]:
df2['ConvertedComp'].median()

57498.0

In [26]:
df2['ConvertedComp'].mode()

0    54996.0
1    65424.0
Name: ConvertedComp, dtype: float64

In [27]:
df2['ConvertedComp'].std()

186953.60791634273

In [28]:
df2['ConvertedComp'].var()

34951651512.93761

In [29]:
df2.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,101.000000,7.400000e+01,74.000000,82.000000,70.000000,88.000000
mean,151.633663,1.837439e+06,103659.472973,46.829268,4.892857,32.159091
std,29.705462,1.057886e+07,186953.607916,41.235190,4.340484,8.826405
min,101.000000,5.000000e+01,979.000000,6.000000,0.000000,18.000000
25%,126.000000,1.500000e+04,35704.750000,40.000000,2.000000,26.000000
50%,152.000000,6.100000e+04,57498.000000,40.000000,4.000000,30.000000
75%,177.000000,1.060000e+05,92963.250000,45.000000,6.000000,36.000000
max,202.000000,8.500000e+07,1000000.000000,385.000000,20.000000,64.000000

In [30]:
df2.describe(include="all")

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
count,101.000000,101,101,101,98,100,101,100,99,91,...,97,78,88.000000,95,93,88,84,96,100,100
unique,NaN,5,2,4,3,4,39,3,8,10,...,5,15,NaN,2,1,4,7,2,3,3
top,NaN,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
freq,NaN,83,83,35,46,75,24,80,50,63,...,74,21,NaN,85,93,80,61,53,53,63
mean,151.633663,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,32.159091,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,29.705462,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.826405,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,101.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,18.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,126.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,152.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,177.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,36.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,202.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,64.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df2['Hobbyist'].unique()

array(['Yes', 'No'], dtype=object)

In [32]:
df2['Hobbyist'].nunique()

2

In [33]:
df2['Hobbyist'].value_counts()#frequency distribution of each distinct values

Yes    83
No     18
Name: Hobbyist, dtype: int64

In [34]:
df2['Hobbyist'].value_counts(normalize=True)#percentage total of frequency distribution

Yes    0.821782
No     0.178218
Name: Hobbyist, dtype: float64

In [35]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [36]:
df['SocialMedia']

0          Twitter
1        Instagram
2           Reddit
3           Reddit
4         Facebook
           ...
88878      YouTube
88879          NaN
88880          NaN
88881          NaN
88882     WhatsApp
Name: SocialMedia, Length: 88883, dtype: object

In [37]:
schema.loc['SocialMedia',"QuestionText"]

NameError: name 'schema' is not defined

In [ ]:
schema.set_index("Column",inplace=True)

In [38]:
df['SocialMedia'].value_counts(normalize=True)

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

In [39]:
df['SocialMedia'].value_counts()/df.shape[0] * 100

Reddit                      16.171821
YouTube                     15.559781
WhatsApp                    15.016370
Facebook                    14.826232
Twitter                     12.823600
Instagram                    7.044092
I don't use social media     6.248664
LinkedIn                     5.063960
WeChat 微信                    0.750425
Snapchat                     0.706547
VK ВКонта́кте                0.678420
Weibo 新浪微博                   0.063004
Youku Tudou 优酷               0.023627
Hello                        0.021376
Name: SocialMedia, dtype: float64

## Group By

- It uses to get any aggregated values for all the features/particular features(Avg salary of developer, number of indian developers who knows python)

## Split > Apply Func > Combine Results

In [40]:
filt1 = df['Country']=="India"
df[filt1]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
7,8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
14,15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
49,50,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,Man,No,NaN,South Asian,No,Too long,Easy
64,65,I am a developer by profession,Yes,Never,NaN,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,A lot more welcome now than last year,NaN,21.0,Man,No,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88808,77339,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88825,79795,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,NaN,Man,No,Straight / Heterosexual,NaN,No,Too long,Difficult
88852,83862,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
88853,84299,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Somewhat more welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88864,86012,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy

In [41]:
filt2 = df['Country']=="United States"

In [42]:
df[filt2]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
12,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
21,22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
22,23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
25,26,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,34.0,Man,No,Gay or Lesbian,NaN,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88818,78292,NaN,No,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United States,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A health science (ex. nursing, pharmacy, radio...",...,Somewhat less welcome now than last year,NaN,60.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult
88840,82717,NaN,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,"Secondary school (e.g. American high school, G...",NaN,...,NaN,Industry news about technologies you're intere...,44.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
88844,83397,NaN,Yes,Less than once per year,NaN,"Not employed, but looking for work",United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,27.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
88859,85642,NaN,No,Less than once per year,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",United States,No,Associate degree,"Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,34.0,"Non-binary, genderqueer, or gender non-conforming",NaN,Bisexual;Gay or Lesbian,White or of European descent,No,Appropriate in length,Easy
88877,88282,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,NaN,No,Too short,Neither easy nor difficult

In [43]:
df['Country']

0                United Kingdom
1        Bosnia and Herzegovina
2                      Thailand
3                 United States
4                       Ukraine
                  ...
88878                    Canada
88879                       NaN
88880                       NaN
88881                       NaN
88882                     Spain
Name: Country, Length: 88883, dtype: object

In [44]:
pd.set_option('display.min_rows',50)

In [45]:
df['Country'].value_counts()

United States                            20949
India                                     9061
Germany                                   5866
United Kingdom                            5737
Canada                                    3395
France                                    2391
Brazil                                    1948
Poland                                    1922
Australia                                 1903
Netherlands                               1852
Russian Federation                        1694
Spain                                     1604
Italy                                     1576
Sweden                                    1274
Switzerland                                978
Israel                                     952
Turkey                                     949
Pakistan                                   923
Ukraine                                    868
Austria                                    839
Czech Republic                             764
Romania                                    760
Iran                                       738
Belgium                                    727
China                                      664
                                         ...
Democratic People's Republic of Korea        3
Guinea                                       3
Liechtenstein                                3
Guyana                                       3
Lao People's Democratic Republic             3
Burundi                                      3
Gabon                                        2
Bhutan                                       2
Djibouti                                     2
Liberia                                      2
Malawi                                       2
San Marino                                   2
Seychelles                                   2
Sierra Leone                                 2
Saint Kitts and Nevis                        1
Sao Tome and Principe                        1
Saint Vincent and the Grenadines             1
Niger                                        1
Papua New Guinea                             1
Dominica                                     1
Tonga                                        1
Timor-Leste                                  1
North Korea                                  1
Brunei Darussalam                            1
Chad                                         1
Name: Country, Length: 179, dtype: int64

In [46]:
country_group = df.groupby('Country')

In [47]:
country_group

In [48]:
country_group.get_group("India")

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
7,8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
14,15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
49,50,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,Man,No,NaN,South Asian,No,Too long,Easy
64,65,I am a developer by profession,Yes,Never,NaN,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,A lot more welcome now than last year,NaN,21.0,Man,No,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
67,68,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy
74,75,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Courses on technologies you're interested in,27.0,Woman,No,Straight / Heterosexual,NaN,No,Too long,Neither easy nor difficult
77,78,I am a developer by profession,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,25.0,Man,No,NaN,NaN,Yes,Appropriate in length,Easy
82,83,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,22.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Neither easy nor difficult
88,89,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",India,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,No,Bisexual,East Asian,Yes,Too short,Easy
89,90,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,25.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Easy
98,99,I am a student who is learning to code,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed part-time,India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Somewhat more welcome now than last year,Industry news about technologies you're intere...,21.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Neither easy nor difficult
103,104,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,South Asian,Yes,Appropriate in length,Easy
120,121,I am a student who is learning to code,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,20.0,Man,No,Straight / Heterosexual,South Asian,No,Too long,Neither easy nor difficult
123,124,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Cour...,27.0,Man,No,Bisexual,South Asian,NaN,Too long,Easy
138,140,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,25.0,Man,No,Straight / Heterosexual,NaN,NaN,Too long,Easy
167,169,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,NaN,India,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,32.0,Man,No,NaN,East Asian,Yes,Too long,Neither easy nor difficult
172,174,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Industry news about technologies you're intere...,24.0,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Neither easy nor difficult
174,176,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,31.0,Man,No,Straight / Heterosexual,East Asian,Yes,Appropriate in length,Easy
176,178,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",India,"Yes, full-time",NaN,"Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,28.0,Man,NaN,Bisexual,South Asian,Yes,Too long,Easy
218,220,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","A business discipline (ex. accounting, finance...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Easy
236,238,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, part-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,31.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Easy
237,239,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,242,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Courses on technologies you're interested in,30.0,Man,NaN,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
261,263,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,40.0,Man,No,Straight / Heterosexual,South Asian,Yes,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88439,20000,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,A lot less welcome now than last year,Tech articles written by other developers;Indu...,28.0,Man,No,NaN,South Asian,NaN,Too long,NaN
88444,20567,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",India,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy
88445,20892,NaN,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, part-time",NaN,"Another engineering discipline (ex. civil, ele...",...,NaN,NaN,43.0,Man,No,NaN,NaN,Yes,Too long,Easy
88446,21826,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time",NaN,Web development or web design,...,A lot more welcome now than last year,Tech articles written by other developers,22.0,Man,No,NaN,South Asian,Yes,Appropriate in length,Easy
88470,24606,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,NaN,Associate degree,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88475,25114,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed part-time,India,"Yes, part-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech meetups or events in your area,22.0,Man,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult
88483,26419,NaN,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Woman,No,Straight / Heterosexual,NaN,NaN,Too long,Neither easy nor difficult
88488,27229,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,34.0,Man,No,NaN,South Asian,Yes,Too long,Easy
88546,35010,NaN,Yes,Never,The quality of OSS and closed source software ...,NaN,India,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers,NaN,Man,NaN,NaN,South Asian,Yes,Appropriate in length,Neither easy nor difficult
88577,40151,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",NaN,India,No,"Secondary school (e.g. American high school, G...",NaN,...,A lot more welcome now than last year,Tech meetups or events in your area,NaN,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Neither easy nor difficult
88587,40898,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Easy
88599,42599,NaN,No,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,30.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
88605,43809,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,NaN,"Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Woman,NaN,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
88658,50685,NaN,No,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Retired,India,NaN,I never completed any formal education,NaN,...,A lot less welcome now than last year,Tech articles written by other developers;Indu...,NaN,Woman,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
88711,60133,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,NaN,NaN,NaN,No,Too long,Neither easy nor difficult
88737,63972,NaN,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot less welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,South Asian,Yes,Appropriate in length,Neither easy nor difficult
88748,65988,NaN,Yes,Never,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",India,NaN,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Easy
88783,71874,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",India,No,NaN,NaN,...,A lot less welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Easy
88798,75103,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,No,Too long,Easy
88806,76822,NaN,No,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",NaN,India,NaN,"Professional degree (JD, MD, etc.)","A health science (ex. nursing, pharmacy, radio...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Easy
88808,77339,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88825,79795,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,NaN,Man,No,Straight / Heterosexual,NaN,No,Too long,Difficult
88852,83862,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
88853,84299,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Somewhat more welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88864,86012,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy

In [49]:
country_group.get_group("United States")

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
12,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
21,22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
22,23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
25,26,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,34.0,Man,No,Gay or Lesbian,NaN,No,Appropriate in length,Easy
28,29,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,32.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
31,32,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,Associate degree,"Information systems, information technology, o...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,21.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
34,35,I am a developer by profession,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,35.0,Woman,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
38,39,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers,42.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
44,45,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Cour...,62.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
45,46,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,37.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
46,47,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A humanities discipline (ex. literature, histo...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,45.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
50,51,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,United States,"Yes, full-time",Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers,18.0,Woman,No,Straight / Heterosexual,South Asian,No,Too long,Easy
52,53,"I am not primarily a developer, but I write co...",Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
57,58,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,NaN,Easy
59,60,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Secondary school (e.g. American high school, G...",NaN,...,NaN,Industry news about technologies you're intere...,27.0,Man,No,Bisexual,White or of European descent,No,NaN,NaN
60,61,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,34.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
69,70,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,42.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Easy
76,77,I am a developer by profession,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A business discipline (ex. accounting, finance...",...,Just as welcome now as I felt last year,Courses on technologies you're interested in,43.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
87,88,I code primarily as a hobby,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United States,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Courses on technologies you're interested in,16.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
94,95,I am a developer by profession,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,NaN,30.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
96,97,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A social science (ex. anthropology, psychology...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,25.0,"Non-binary, genderqueer, or gender non-conforming",Yes,Bisexual,White or of European descent,No,Appropriate in length,Easy
101,102,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,37.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
104,105,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Woman,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
105,106,I am a developer by profession,Yes,Less than once per year,NaN,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,33.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88657,50665,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A business discipline (ex. accounting, finance...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,32.0,Man,No,Straight / Heterosexual,South Asian,Yes,Appropriate in length,Easy
88668,53011,NaN,No,Once a month or more often,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",United States,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A humanities discipline (ex. literature, histo...",...,Not applicable - I did not use Stack Overflow ...,Courses on technologies you're interested in,71.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
88673,54777,NaN,No,Once a month or more often,The quality of OSS and closed source software ...,NaN,United States,No,Some college/university study without earning ...,NaN,...,Somewhat more welcome now than last year,NaN,38.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
88680,55851,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",...,A lot less welcome now than last year,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,Hispanic or Latino/Latina;White or of European...,Yes,Too long,Easy
88682,55901,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United States,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88693,57520,NaN,No,Once a month or more often,"OSS is, on average, of LOWER quality than prop...","Not employed, and not looking for work",United States,"Yes, part-time",Some college/university study without earning ...,NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,30.0,Woman,No,NaN,Multiracial,NaN,Appropriate in length,Neither easy nor difficult
88702,59190,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",NaN,United States,NaN,Some college/university study without earning ...,I never declared a major,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
88705,59455,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed part-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88718,61017,NaN,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,NaN,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Neither easy nor difficult
88746,65296,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A social science (ex. anthropology, psychology...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,31.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult
88757,67164,NaN,No,Less than once per year,The quality of OSS and closed source software ...,NaN,United States,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Cour...,NaN,Man,No,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult
88758,67206,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United States,No,"Secondary school (e.g. American high school, G...",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,South Asian,No,Too long,Easy
88760,67290,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United States,No,"Secondary school (e.g. American high school, G...",NaN,...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,NaN,NaN,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88764,68208,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,NaN,United States,No,Some college/university study without earning ...,I never declared a major,...,Somewhat less welcome now than last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,NaN,NaN
88773,70197,NaN,No,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United States,No,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,Courses on technologies you're interested in,NaN,Woman,No,NaN,Black or of African descent,Yes,Too long,Easy
88777,70955,NaN,No,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,NaN,I never completed any formal education,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,NaN,"Non-binary, genderqueer, or gender non-conforming",No,NaN,"Native American, Pacific Islander, or Indigeno...",Yes,Appropriate in length,Neither easy nor difficult
88786,72325,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United States,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,15.0,Man,No,NaN,White or of European descent,No,Appropriate in length,Easy
88797,74976,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Somewhat more welcome now than last year,NaN,NaN,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Easy
88810,77890,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",NaN,United States,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,47.0,Woman,NaN,Gay or Lesbian,NaN,NaN,Too long,Neither easy nor difficult
88811,77920,NaN,Yes,Less than once a month but more than once per ...,NaN,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech meetups or events in your area;Courses on...,52.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Easy
88818,78292,NaN,No,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United States,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A health science (ex. nursing, pharmacy, radio...",...,Somewhat less welcome now than last year,NaN,60.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult
88840,82717,NaN,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,"Secondary school (e.g. American high school, G...",NaN,...,NaN,Industry news about technologies you're intere...,44.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
88844,83397,NaN,Yes,Less than once per year,NaN,"Not employed, but looking for work",United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,27.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
88859,85642,NaN,No,Less than once per year,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",United States,No,Associate degree,"Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,34.0,"Non-binary, genderqueer, or gender non-conforming",NaN,Bisexual;Gay or Lesbian,White or of European descent,No,Appropriate in length,Easy

In [50]:
gender_group  = df.groupby("Gender")

In [51]:
gender_group.get_group('Woman')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
11,12,I am a student who is learning to code,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Canada,"Yes, full-time",Some college/university study without earning ...,Mathematics or statistics,...,Just as welcome now as I felt last year,Courses on technologies you're interested in,21.0,Woman,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
30,31,I am a student who is learning to code,No,Never,NaN,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,NaN,NaN,Woman,No,NaN,East Asian,No,Too long,Neither easy nor difficult
34,35,I am a developer by profession,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,35.0,Woman,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
50,51,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,United States,"Yes, full-time",Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers,18.0,Woman,No,Straight / Heterosexual,South Asian,No,Too long,Easy
70,71,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Philippines,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Tech...,21.0,Woman,No,Straight / Heterosexual,East Asian;South Asian,No,Appropriate in length,Easy
74,75,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Courses on technologies you're interested in,27.0,Woman,No,Straight / Heterosexual,NaN,No,Too long,Neither easy nor difficult
85,86,"I am not primarily a developer, but I write co...",Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,China,No,Some college/university study without earning ...,"Information systems, information technology, o...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,26.0,Woman,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
99,100,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Canada,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,39.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
104,105,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Woman,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
140,142,I am a developer by profession,No,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,24.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
146,148,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,28.0,Woman,No,Gay or Lesbian,Black or of African descent,No,Appropriate in length,Neither easy nor difficult
148,150,I am a developer by profession,Yes,Never,NaN,Employed full-time,Croatia,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,31.0,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult
161,163,I am a developer by profession,No,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Iran,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,NaN,Industry news about technologies you're intere...,32.0,Woman,No,Straight / Heterosexual,Middle Eastern,Yes,Too long,Difficult
165,167,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed part-time,Austria,"Yes, full-time",Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,28.0,Woman,No,Straight / Heterosexual,Middle Eastern,No,Too long,Neither easy nor difficult
178,180,"I used to be a developer by profession, but no...",Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",Italy,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,32.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
179,181,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Argentina,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Courses on technologies you're interested in,29.0,Woman,No,Bisexual,Hispanic or Latino/Latina,No,Too long,Neither easy nor difficult
184,186,I am a student who is learning to code,Yes,Less than once per year,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",United States,"Yes, part-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Woman,No,Straight / Heterosexual,South Asian,Yes,Appropriate in length,Easy
185,187,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,23.0,Woman,No,Straight / Heterosexual,East Asian,No,Appropriate in length,Neither easy nor difficult
221,223,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Russian Federation,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,23.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
225,227,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A social science (ex. anthropology, psychology...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,33.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
231,233,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Other doctoral degree (Ph.D, Ed.D., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,36.0,Woman,No,NaN,White or of European descent,Yes,Appropriate in length,Easy
234,236,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Fine arts or performing arts (ex. graphic desi...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,29.0,Woman,No,Straight / Heterosexual,Black or of African descent;White or of Europe...,No,Appropriate in length,Easy
270,272,I am a student who is learning to code,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, but looking for work",Serbia,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers,39.0,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
293,295,I am a student who is learning to code,No,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",Bulgaria,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,36.0,Woman,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Easy
306,308,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,36.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88669,53984,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Thailand,No,"Secondary school (e.g. American high school, G...",NaN,...,Not applicable - I did not use Stack Overflow ...,Tech meetups or events in your area;Courses on...,29.0,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
88682,55901,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United States,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88683,56135,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Netherlands,No,"Professional degree (JD, MD, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,58.0,Woman,No,Straight / Heterosexual,White or of European descent,Yes,NaN,Neither easy nor difficult
88686,56384,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A humanities discipline (ex. literature, histo...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,29.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
88692,57472,NaN,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Netherlands,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A social science (ex. anthropology, psychology...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,29.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88693,57520,NaN,No,Once a month or more often,"OSS is, on average, of LOWER quality than prop...","Not employed, and not looking for work",United States,"Yes, part-time",Some college/university study without earning ...,NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,30.0,Woman,No,NaN,Multiracial,NaN,Appropriate in length,Neither easy nor difficult
88695,57664,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed part-time,Austria,No,"Other doctoral degree (Ph.D, Ed.D., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,52.0,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
88700,58844,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Saudi Arabia,"Yes, full-time",I never completed any formal education,NaN,...,A lot less welcome now than last year,Tech articles written by other developers,NaN,Woman,Yes,NaN,Black or of African descent;South Asian,No,Too long,Easy
88704,59435,NaN,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",...,Somewhat less welcome now than last year,Courses on technologies you're interested in,28.0,Woman,No,Straight / Heterosexual,Multiracial,No,Appropriate in length,Easy
88708,59659,NaN,No,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Kuwait,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Courses on technologies you're interested in,23.0,Woman,No,Bisexual;Straight / Heterosexual,Middle Eastern,Yes,Appropriate in length,Easy
88712,60184,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Italy,"Yes, part-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","A humanities discipline (ex. literature, histo...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Woman,No,Gay or Lesbian;Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Neither easy nor difficult
88759,67223,NaN,No,Less than once per year,The quality of OSS and closed source software ...,Retired,Canada,No,Some college/university study without earning ...,I never declared a major,...,Somewhat less welcome now than last year,NaN,NaN,Woman,No,Straight / Heterosexual,White or of European descent,No,Too long,Easy
88769,69190,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Portugal,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Fine arts or performing arts (ex. graphic desi...,...,NaN,Tech articles written by other developers;Indu...,NaN,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
88773,70197,NaN,No,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United States,No,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,Courses on technologies you're interested in,NaN,Woman,No,NaN,Black or of African descent,Yes,Too long,Easy
88810,77890,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",NaN,United States,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,47.0,Woman,NaN,Gay or Lesbian,NaN,NaN,Too long,Neither easy nor difficult
88817,78266,NaN,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Japan,No,Some college/university study without earning ...,"Information systems, information technology, o...",...,Somewhat more welcome now than last year,Tech articles written by other developers,NaN,Woman,No,Straight / Heterosexual,East Asian,Yes,Too long,Neither easy nor difficult
88821,78887,NaN,No,Once a month or more often,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Viet Nam,No,"Professional degree (JD, MD, etc.)","A social science (ex. anthropology, psychology...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
88833,81093,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...",...,Not applicable - I did not use Stack Overflow ...,NaN,29.0,Woman,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Easy
88835,81922,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Russian Federation,No,"Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Not applicable - I did not use Stack Overflow ...,NaN,NaN,Woman,Yes,Gay or Lesbian;Straight / Heterosexual,Black or of African descent;Biracial,Yes,Too long,Difficult
88837,81994,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed part-time,Poland,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,NaN,NaN,22.0,Woman,No,NaN,White or of European descent,No,Too long,Easy
88838,82007,NaN,No,Less than once per year,The quality of OSS and closed source software ...,NaN,Canada,NaN,Primary/elementary school,NaN,...,Somewhat less welcome now than last year,Courses on technologies you're interested in,40.0,Woman,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
88844,83397,NaN,Yes,Less than once per year,NaN,"Not employed, but looking for work",United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,27.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
88846,83612,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Thailand,NaN,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,NaN,Woman,Yes,Gay or Lesbian,NaN,NaN,NaN,NaN
88854,84539,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Courses on technologies you're interested in,23.0,Woman,Yes,Bisexual,White or of European descent,No,Appropriate in length,Easy
88855,85182,NaN,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,NaN,Canada,NaN,NaN,NaN,...,A lot less welcome now than last year,NaN,NaN,Woman,No,Straight / Heterosexual,NaN,No,Too long,Easy

In [52]:
gender_group.get_group('Man')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
6,7,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,A lot more welcome now than last year,NaN,42.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
7,8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
8,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
10,11,I code primarily as a hobby,Yes,Once a month or more often,The quality of OSS and closed source software ...,NaN,Antigua and Barbuda,"Yes, full-time",Primary/elementary school,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,22.0,Man,Yes,Bisexual;Gay or Lesbian;Straight / Heterosexual,Black or of African descent;East Asian;Hispani...,No,Appropriate in length,Easy
12,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
13,14,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,31.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Easy
14,15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
15,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
16,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy
17,18,"I am not primarily a developer, but I write co...",Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Russian Federation,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
18,19,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Brazil,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,31.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Too long,Easy
19,20,"I am not primarily a developer, but I write co...",No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Lithuania,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers,38.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
20,21,I code primarily as a hobby,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",NaN,Canada,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
21,22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
22,23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
23,24,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Israel,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,Middle Eastern,No,Appropriate in length,Easy
24,25,I am a developer by profession,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,South Africa,No,Associate degree,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Neither easy nor difficult
25,26,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,34.0,Man,No,Gay or Lesbian,NaN,No,Appropriate in length,Easy
26,27,"I used to be a developer by profession, but no...",Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",Colombia,"Yes, part-time",Some college/university study without earning ...,"Information systems, information technology, o...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,No,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88828,80116,NaN,No,Less than once per year,NaN,Employed part-time,United Kingdom,No,Some college/university study without earning ...,NaN,...,Somewhat more welcome now than last year,Tech meetups or events in your area,64.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
88829,80319,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",Germany,No,"Secondary school (e.g. American high school, G...",NaN,...,Somewhat more welcome now than last year,Tech articles written by other developers;Tech...,18.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Easy
88836,81934,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Oman,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Tech...,NaN,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88839,82134,NaN,Yes,Never,NaN,NaN,China,No,I never completed any formal education,NaN,...,NaN,NaN,NaN,Man,No,NaN,NaN,NaN,NaN,NaN
88840,82717,NaN,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,"Secondary school (e.g. American high school, G...",NaN,...,NaN,Industry news about technologies you're intere...,44.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
88841,82789,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,NaN,United Kingdom,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,17.0,Man,No,Straight / Heterosexual,White or of European descent;Biracial,No,Appropriate in length,Easy
88842,82805,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Russian Federation,No,Some college/university study without earning ...,I never declared a major,...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,34.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
88843,83000,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Brazil,No,"Secondary school (e.g. American high school, G...",NaN,...,A lot more welcome now than last year,Tech meetups or events in your area;Courses on...,29.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
88850,83786,NaN,No,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,57.0,Man,No,NaN,White or of European descent,Yes,Too long,Neither easy nor difficult
88852,83862,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
88857,85396,NaN,No,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",Sweden,No,"Professional degree (JD, MD, etc.)",NaN,...,A lot less welcome now than last year,Tech meetups or events in your area,NaN,Man,No,Straight / Heterosexual,Black or of African descent,NaN,Too long,Neither easy nor difficult
88860,85738,NaN,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Brazil,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,15.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Too short,Easy
88862,85955,NaN,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...","Not employed, and not looking for work",Egypt,"Yes, part-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers,NaN,Man,No,NaN,Middle Eastern,No,Too long,Neither easy nor difficult
88863,85961,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,NaN,United Kingdom,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,NaN,45.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Difficult
88864,86012,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy
88865,86566,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Retired,Switzerland,No,Some college/university study without earning ...,"A humanities discipline (ex. literature, histo...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,74.0,Man,No,NaN,White or of European descent,No,Appropriate in length,Easy
88866,86638,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Australia,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,30.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
88867,86806,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Nigeria,"Yes, part-time","Secondary school (e.g. American high school, G...",NaN,...,A lot less welcome now than last year,Tech articles written by other developers,19.0,Man,No,NaN,Black or of African descent;Middle Eastern,No,Appropriate in length,Neither easy nor difficult
88870,87352,NaN,Yes,Less than once per year,NaN,"Not employed, and not looking for work",Netherlands,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,59.0,Man,No,NaN,NaN,No,NaN,NaN
88871,87386,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",Italy,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,21.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88875,88182,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Pakistan,NaN,"Secondary school (e.g. American high school, G...",NaN,...,Not applicable - I did not use Stack Overflow ...,Courses on technologies you're interested in,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too short,Neither easy nor difficult
88876,88212,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Spain,No,"Secondary school (e.g. American high school, G...",NaN,...,NaN,Tech articles written by other developers;Indu...,40.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88877,88282,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,NaN,No,Too short,Neither easy nor difficult
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [53]:
country_group.get_group('Germany')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
13,14,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,31.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Easy
35,36,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Germany,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Somewhat less welcome now than last year,NaN,21.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
43,44,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,43.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
65,66,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Germany,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Neither easy nor difficult
84,85,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,31.0,Man,No,Straight / Heterosexual,White or of European descent,NaN,Appropriate in length,Easy
92,93,"I am not primarily a developer, but I write co...",No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Fine arts or performing arts (ex. graphic desi...,...,Just as welcome now as I felt last year,NaN,32.0,NaN,NaN,NaN,White or of European descent,No,Appropriate in length,Neither easy nor difficult
141,143,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Germany,No,Some college/university study without earning ...,Mathematics or statistics,...,Just as welcome now as I felt last year,Tech meetups or events in your area,36.0,NaN,NaN,NaN,NaN,Yes,Too long,Easy
142,144,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed part-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A business discipline (ex. accounting, finance...",...,Somewhat less welcome now than last year,Courses on technologies you're interested in,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
153,155,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,34.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
171,173,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Germany,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,31.0,Man,No,Straight / Heterosexual,White or of European descent,NaN,Too long,Neither easy nor difficult
198,200,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,Employed part-time,Germany,No,"Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,43.0,Man,No,NaN,NaN,Yes,Appropriate in length,Easy
231,233,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Other doctoral degree (Ph.D, Ed.D., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,36.0,Woman,No,NaN,White or of European descent,Yes,Appropriate in length,Easy
251,253,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech meetups or events in your area,28.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
258,260,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",Germany,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Tech...,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Easy
280,282,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",Germany,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
300,302,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Courses on technologies you're interested in,33.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
329,331,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,NaN,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Appropriate in length,Easy
330,332,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Easy
334,336,"I used to be a developer by profession, but no...",Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Germany,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A humanities discipline (ex. literature, histo...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,38.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
337,339,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed part-time,Germany,No,"Secondary school (e.g. American high school, G...",NaN,...,Somewhat more welcome now than last year,Tech articles written by other developers;Tech...,16.0,Man,No,Straight / Heterosexual,White or of European descent;Biracial;Multiracial,No,Too long,Easy
351,353,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Germany,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","A humanities discipline (ex. literature, histo...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
374,376,"I used to be a developer by profession, but no...",Yes,Less than once per year,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Germany,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Tech articles written by other developers,25.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy
375,377,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,37.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
377,379,I am a student who is learning to code,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed part-time,Germany,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,White or of European descent,NaN,Appropriate in length,Neither easy nor difficult
428,430,I am a student who is learning to code,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed part-time,Germany,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,20.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88380,11059,NaN,Yes,Never,The quality of OSS and closed source software ...,"Not employed, but looking for work",Germany,"Yes, full-time",Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers,23.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88409,15380,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Germany,No,"Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,17.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88414,16103,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Germany,"Yes, full-time",Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
88443,20371,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Germany,"Yes, full-time",I never completed any formal education,NaN,...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers,NaN,Woman,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
88460,23500,NaN,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Germany,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,NaN,NaN,27.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
88473,24861,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Germany,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,South Asian,No,Too long,Neither easy nor difficult
88474,24876,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Other doctoral degree (Ph.D, Ed.D., etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult
88487,26941,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Germany,NaN,NaN,NaN,...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,NaN,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
88522,32109,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult
88529,32826,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult
88542,34646,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Germany,No,"Professional degree (JD, MD, etc.)",I never declared a major,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,21.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88549,35659,NaN,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed part-time,Germany,"Yes, part-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,21.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88563,38509,NaN,No,Less than once per year,"OSS is, on average, of LOWER quality than prop...",Employed part-time,Germany,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Not applicable - I did not use Stack Overflow ...,NaN,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
88564,38660,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Germany,No,Some college/university study without earning ...,"A humanities discipline (ex. literature, histo...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,"Man;Non-binary, genderqueer, or gender non-con...",No,Bisexual,White or of European descent,No,Appropriate in length,Easy
88636,47718,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Germany,No,Associate degree,"Information systems, information technology, o...",...,NaN,Tech articles written by other developers,NaN,Man,No,Gay or Lesbian,Black or of African descent;Hispanic or Latino...,No,Appropriate in length,Difficult
88646,48619,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Germany,NaN,"Professional degree (JD, MD, etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,NaN,NaN,Man,No,NaN,White or of European descent,No,Too long,Easy
88660,51009,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed part-time,Germany,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88689,57071,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Germany,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88703,59211,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Germany,No,Some college/university study without earning ...,"A natural science (ex. biology, chemistry, phy...",...,Somewhat less welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy
88727,62149,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Neither easy nor difficult
88740,64465,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,NaN,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A business discipline (ex. accounting, finance...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
88779,71055,NaN,Yes,Never,"OSS is, on average, of LOWER quality than prop...","Not employed, and not looking for work",Germany,No,NaN,"A social science (ex. anthropology, psychology...",...,A lot more welcome now than last year,Industry news about technologies you're intere...,2.0,Man,NaN,NaN,NaN,NaN,Too long,Difficult
88804,75974,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Germany,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,NaN,Man,No,NaN,Middle Eastern,Yes,Appropriate in length,Easy
88829,80319,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",Germany,No,"Secondary school (e.g. American high school, G...",NaN,...,Somewhat more welcome now than last year,Tech articles written by other developers;Tech...,18.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Easy

In [54]:
country_group.get_group(['Germany','India'])

TypeError: unhashable type: 'list'

In [ ]:
filt3 = df['Country']=="India"

In [ ]:
# df.columns

In [ ]:
df.loc[filt3]["SocialMedia"].value_counts()

In [ ]:
country_group['SocialMedia'].value_counts().head(50)

In [ ]:
country_group['SocialMedia'].value_counts().loc['India']

In [55]:
social_group=country_group['SocialMedia']

In [56]:
social_group.get_group('India').value_counts(normalize=True)

WhatsApp                    0.342379
YouTube                     0.208405
LinkedIn                    0.109355
Facebook                    0.096301
Instagram                   0.094126
Twitter                     0.062063
Reddit                      0.054162
I don't use social media    0.028627
Snapchat                    0.002634
Hello                       0.000573
WeChat 微信                   0.000573
VK ВКонта́кте               0.000458
Youku Tudou 优酷              0.000229
Weibo 新浪微博                  0.000115
Name: SocialMedia, dtype: float64

In [57]:
country_group['SocialMedia'].value_counts().loc['France']

SocialMedia
Twitter                     479
YouTube                     387
Facebook                    358
Reddit                      358
WhatsApp                    228
I don't use social media    205
LinkedIn                    139
Instagram                   101
Snapchat                     12
WeChat 微信                    12
VK ВКонта́кте                 1
Youku Tudou 优酷                1
Name: SocialMedia, dtype: int64

In [58]:
country_group['SocialMedia'].value_counts().loc['Germany']

SocialMedia
WhatsApp                    1343
YouTube                      970
Reddit                       923
Twitter                      866
I don't use social media     501
Facebook                     404
Instagram                    264
LinkedIn                     141
Snapchat                      10
VK ВКонта́кте                  8
WeChat 微信                      8
Name: SocialMedia, dtype: int64

In [59]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [60]:
df['Employment'].unique()

array(['Not employed, and not looking for work',
       'Not employed, but looking for work', 'Employed full-time',
       'Independent contractor, freelancer, or self-employed', nan,
       'Employed part-time', 'Retired'], dtype=object)

- i want to retrieve all the emplyment type details by country
    - Distributions of different employment type in each country
Pakistan,Afghanistan,Nepal,India,Maldives,Bhutan,Bangladesh,Sri Lanka



- percentage of retired people in different countries 
Pakistan,Afghanistan,Nepal,India,Maldives,Bhutan,Bangladesh,Sri Lanka,United States

In [61]:
country_group['ConvertedComp'].mean()#it will retunr mean salary inside each country

Country
Afghanistan                                  101953.333333
Albania                                       21833.700000
Algeria                                       34924.047619
Andorra                                      160931.000000
Angola                                         7764.000000
Antigua and Barbuda                                    NaN
Argentina                                     29467.265306
Armenia                                       24691.733333
Australia                                    171541.116279
Austria                                       83955.639604
Azerbaijan                                    15785.750000
Bahamas                                                NaN
Bahrain                                       23934.000000
Bangladesh                                    21249.652000
Barbados                                      21000.000000
Belarus                                       29442.330645
Belgium                                       73185.564655
Belize                                                 NaN
Benin                                                  NaN
Bhutan                                                 NaN
Bolivia                                       17977.360000
Bosnia and Herzegovina                        24996.283333
Botswana                                      40994.000000
Brazil                                        32623.570000
Brunei Darussalam                              6096.000000
                                                 ...
Syrian Arab Republic                           3562.500000
Taiwan                                        40364.712963
Tajikistan                                     4902.000000
Thailand                                      48379.436893
The former Yugoslav Republic of Macedonia     40389.451613
Timor-Leste                                  229500.000000
Togo                                           4188.000000
Tonga                                                  NaN
Trinidad and Tobago                           50346.777778
Tunisia                                       10130.129630
Turkey                                        25133.222664
Turkmenistan                                  46449.333333
Uganda                                        37974.352941
Ukraine                                       32698.136531
United Arab Emirates                          53545.659091
United Kingdom                               165733.813337
United Republic of Tanzania                   34691.117647
United States                                164159.724985
Uruguay                                       53862.571429
Uzbekistan                                    18304.142857
Venezuela, Bolivarian Republic of...          14581.627907
Viet Nam                                      17233.436782
Yemen                                         16909.166667
Zambia                                        10075.375000
Zimbabwe                                      34046.666667
Name: ConvertedComp, Length: 179, dtype: float64

In [62]:
country_group['ConvertedComp'].mean().loc["United States"]

164159.72498498097

In [63]:
country_group['ConvertedComp'].mean().loc["Germany"]

108777.79460031763

In [64]:
country_group['ConvertedComp'].median().loc["Sri Lanka"]

7476.0

In [65]:
country_group['ConvertedComp'].describe()

,count,mean,std,min,25%,50%,75%,max
Country,,,,,,,,
Afghanistan,12.0,101953.333333,285995.241798,0.0,1476.0,6222.0,17955.00,1000000.0
Albania,50.0,21833.700000,31450.766680,1320.0,7314.0,10818.0,23052.00,187668.0
Algeria,42.0,34924.047619,152933.628015,0.0,4701.0,7878.0,14391.00,1000000.0
Andorra,2.0,160931.000000,15458.768450,150000.0,155465.5,160931.0,166396.50,171862.0
Angola,1.0,7764.000000,NaN,7764.0,7764.0,7764.0,7764.00,7764.0
Antigua and Barbuda,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Argentina,392.0,29467.265306,46412.576826,12.0,11304.0,17760.0,30684.00,497412.0
Armenia,45.0,24691.733333,18425.851591,0.0,12312.0,19692.0,34464.00,73848.0
Australia,1247.0,171541.116279,264157.688139,0.0,58024.0,79783.0,114597.00,1000000.0
Austria,505.0,83955.639604,149323.023858,0.0,38496.0,51559.0,71036.00,1000000.0
Azerbaijan,24.0,15785.750000,8556.099443,3750.0,9294.0,15858.0,20406.00,35244.0
Bahamas,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bahrain,10.0,23934.000000,20915.130791,8748.0,12876.0,15912.0,25068.00,79584.0
Bangladesh,250.0,21249.652000,84265.525618,0.0,5016.0,8764.0,17087.25,1200000.0
Barbados,1.0,21000.000000,NaN,21000.0,21000.0,21000.0,21000.00,21000.0
Belarus,124.0,29442.330645,24806.577263,1776.0,12228.0,24000.0,36408.00,160000.0
Belgium,464.0,73185.564655,112377.457181,2521.0,37128.0,48120.0,65591.25,1000000.0
Belize,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Benin,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bhutan,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bolivia,25.0,17977.360000,13557.328802,3648.0,8400.0,13020.0,26040.00,60000.0
Bosnia and Herzegovina,60.0,24996.283333,20860.184557,0.0,10548.0,18360.0,30810.00,102600.0
Botswana,3.0,40994.000000,8032.035109,34572.0,36491.0,38410.0,44205.00,50000.0
Brazil,1400.0,32623.570000,81082.442007,0.0,10152.0,18036.0,30077.25,1000000.0
Brunei Darussalam,1.0,6096.000000,NaN,6096.0,6096.0,6096.0,6096.00,6096.0
...,...,...,...,...,...,...,...,...
Syrian Arab Republic,8.0,3562.500000,3514.156147,816.0,1947.0,2742.0,3141.00,12000.0
Taiwan,108.0,40364.712963,54065.697881,4.0,17940.0,27954.0,38990.00,358704.0
Tajikistan,2.0,4902.000000,3860.803025,2172.0,3537.0,4902.0,6267.00,7632.0
Thailand,103.0,48379.436893,51809.025027,5748.0,17064.0,30672.0,57504.00,300576.0
The former Yugoslav Republic of Macedonia,31.0,40389.451613,93138.620747,447.0,9612.0,21996.0,36114.00,533856.0
Timor-Leste,1.0,229500.000000,NaN,229500.0,229500.0,229500.0,229500.00,229500.0
Togo,1.0,4188.000000,NaN,4188.0,4188.0,4188.0,4188.00,4188.0
Tonga,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Trinidad and Tobago,9.0,50346.777778,46892.199697,736.0,22968.0,27828.0,85000.00,141360.0
Tunisia,54.0,10130.129630,14151.931290,0.0,4554.0,6468.0,9099.00,96240.0
Turkey,503.0,25133.222664,56946.036468,0.0,11520.0,17280.0,27648.00,1000000.0
Turkmenistan,3.0,46449.333333,47006.868661,12000.0,19674.0,27348.0,63674.00,100000.0
Uganda,34.0,37974.352941,170187.091924,492.0,3264.0,5490.0,13179.00,1000000.0
Ukraine,542.0,32698.136531,50158.778853,0.0,12120.0,26940.0,43263.00,792000.0
United Arab Emirates,88.0,53545.659091,39709.350648,132.0,27522.0,49008.0,65340.00,220000.0
United Kingdom,4034.0,165733.813337,241778.377702,0.0,45797.0,68041.0,117763.00,1000000.0
United Republic of Tanzania,17.0,34691.117647,59080.432334,48.0,2592.0,5192.0,23364.00,186000.0
United States,14981.0,164159.724985,229724.414552,0.0,80000.0,110000.0,160000.00,1872000.0
Uruguay,91.0,53862.571429,98945.719915,1785.0,22158.0,33850.0,55800.00,792000.0
Uzbekistan,14.0,18304.142857,23593.332389,0.0,4422.0,7176.0,22500.00,70000.0
"Venezuela, Bolivarian Republic of...",43.0,14581.627907,24218.759814,0.0,1950.0,6384.0,18000.00,137484.0
Viet Nam,87.0,17233.436782,19921.575978,200.0,7236.0,11892.0,18000.00,140000.0
Yemen,6.0,16909.166667,21847.429143,799.0,4437.0,11940.0,14115.00,60000.0
Zambia,8.0,10075.375000,13200.366434,400.0,2103.0,5040.0,12734.25,40524.0
Zimbabwe,15.0,34046.666667,44166.969990,900.0,12000.0,19200.0,36000.00,180000.0

In [66]:
country_group['ConvertedComp'].agg(['mean','median','min','max'])

,mean,median,min,max
Country,,,,
Afghanistan,101953.333333,6222.0,0.0,1000000.0
Albania,21833.700000,10818.0,1320.0,187668.0
Algeria,34924.047619,7878.0,0.0,1000000.0
Andorra,160931.000000,160931.0,150000.0,171862.0
Angola,7764.000000,7764.0,7764.0,7764.0
Antigua and Barbuda,NaN,NaN,NaN,NaN
Argentina,29467.265306,17760.0,12.0,497412.0
Armenia,24691.733333,19692.0,0.0,73848.0
Australia,171541.116279,79783.0,0.0,1000000.0
Austria,83955.639604,51559.0,0.0,1000000.0
Azerbaijan,15785.750000,15858.0,3750.0,35244.0
Bahamas,NaN,NaN,NaN,NaN
Bahrain,23934.000000,15912.0,8748.0,79584.0
Bangladesh,21249.652000,8764.0,0.0,1200000.0
Barbados,21000.000000,21000.0,21000.0,21000.0
Belarus,29442.330645,24000.0,1776.0,160000.0
Belgium,73185.564655,48120.0,2521.0,1000000.0
Belize,NaN,NaN,NaN,NaN
Benin,NaN,NaN,NaN,NaN
Bhutan,NaN,NaN,NaN,NaN
Bolivia,17977.360000,13020.0,3648.0,60000.0
Bosnia and Herzegovina,24996.283333,18360.0,0.0,102600.0
Botswana,40994.000000,38410.0,34572.0,50000.0
Brazil,32623.570000,18036.0,0.0,1000000.0
Brunei Darussalam,6096.000000,6096.0,6096.0,6096.0
...,...,...,...,...
Syrian Arab Republic,3562.500000,2742.0,816.0,12000.0
Taiwan,40364.712963,27954.0,4.0,358704.0
Tajikistan,4902.000000,4902.0,2172.0,7632.0
Thailand,48379.436893,30672.0,5748.0,300576.0
The former Yugoslav Republic of Macedonia,40389.451613,21996.0,447.0,533856.0
Timor-Leste,229500.000000,229500.0,229500.0,229500.0
Togo,4188.000000,4188.0,4188.0,4188.0
Tonga,NaN,NaN,NaN,NaN
Trinidad and Tobago,50346.777778,27828.0,736.0,141360.0
Tunisia,10130.129630,6468.0,0.0,96240.0
Turkey,25133.222664,17280.0,0.0,1000000.0
Turkmenistan,46449.333333,27348.0,12000.0,100000.0
Uganda,37974.352941,5490.0,492.0,1000000.0
Ukraine,32698.136531,26940.0,0.0,792000.0
United Arab Emirates,53545.659091,49008.0,132.0,220000.0
United Kingdom,165733.813337,68041.0,0.0,1000000.0
United Republic of Tanzania,34691.117647,5192.0,48.0,186000.0
United States,164159.724985,110000.0,0.0,1872000.0
Uruguay,53862.571429,33850.0,1785.0,792000.0
Uzbekistan,18304.142857,7176.0,0.0,70000.0
"Venezuela, Bolivarian Republic of...",14581.627907,6384.0,0.0,137484.0
Viet Nam,17233.436782,11892.0,200.0,140000.0
Yemen,16909.166667,11940.0,799.0,60000.0
Zambia,10075.375000,5040.0,400.0,40524.0
Zimbabwe,34046.666667,19200.0,900.0,180000.0

### Try to Explore argmax and argmin

In [67]:
country_group['ConvertedComp'].agg(['mean','median','min','max']).loc['India']

mean        26699.825456
median      10080.000000
min             0.000000
max       1000000.000000
Name: India, dtype: float64

In [68]:
country_group['ConvertedComp'].agg(['mean','median',"min"]).loc['India']

mean      26699.825456
median    10080.000000
min           0.000000
Name: India, dtype: float64

## Try another problem

## Get developer who use python by country

In [69]:
filt3 = df['Country']=='India'

In [70]:
df[filt3]

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
7,8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
14,15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
49,50,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,23.0,Man,No,NaN,South Asian,No,Too long,Easy
64,65,I am a developer by profession,Yes,Never,NaN,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,A lot more welcome now than last year,NaN,21.0,Man,No,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
67,68,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy
74,75,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Courses on technologies you're interested in,27.0,Woman,No,Straight / Heterosexual,NaN,No,Too long,Neither easy nor difficult
77,78,I am a developer by profession,No,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,25.0,Man,No,NaN,NaN,Yes,Appropriate in length,Easy
82,83,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,22.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Neither easy nor difficult
88,89,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",India,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,No,Bisexual,East Asian,Yes,Too short,Easy
89,90,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,25.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Easy
98,99,I am a student who is learning to code,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed part-time,India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Somewhat more welcome now than last year,Industry news about technologies you're intere...,21.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Neither easy nor difficult
103,104,I am a developer by profession,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,South Asian,Yes,Appropriate in length,Easy
120,121,I am a student who is learning to code,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,20.0,Man,No,Straight / Heterosexual,South Asian,No,Too long,Neither easy nor difficult
123,124,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Cour...,27.0,Man,No,Bisexual,South Asian,NaN,Too long,Easy
138,140,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,25.0,Man,No,Straight / Heterosexual,NaN,NaN,Too long,Easy
167,169,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,NaN,India,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,32.0,Man,No,NaN,East Asian,Yes,Too long,Neither easy nor difficult
172,174,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Industry news about technologies you're intere...,24.0,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Neither easy nor difficult
174,176,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,31.0,Man,No,Straight / Heterosexual,East Asian,Yes,Appropriate in length,Easy
176,178,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",India,"Yes, full-time",NaN,"Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,28.0,Man,NaN,Bisexual,South Asian,Yes,Too long,Easy
218,220,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","A business discipline (ex. accounting, finance...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Easy
236,238,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, part-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,31.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Easy
237,239,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
240,242,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Courses on technologies you're interested in,30.0,Man,NaN,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
261,263,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,40.0,Man,No,Straight / Heterosexual,South Asian,Yes,Appropriate in length,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88439,20000,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,A lot less welcome now than last year,Tech articles written by other developers;Indu...,28.0,Man,No,NaN,South Asian,NaN,Too long,NaN
88444,20567,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",India,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","A natural science (ex. biology, chemistry, phy...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,South Asian,No,Appropriate in length,Easy
88445,20892,NaN,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, part-time",NaN,"Another engineering discipline (ex. civil, ele...",...,NaN,NaN,43.0,Man,No,NaN,NaN,Yes,Too long,Easy
88446,21826,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time",NaN,Web development or web design,...,A lot more welcome now than last year,Tech articles written by other developers,22.0,Man,No,NaN,South Asian,Yes,Appropriate in length,Easy
88470,24606,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,NaN,Associate degree,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88475,25114,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed part-time,India,"Yes, part-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech meetups or events in your area,22.0,Man,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult
88483,26419,NaN,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Woman,No,Straight / Heterosexual,NaN,NaN,Too long,Neither easy nor difficult
88488,27229,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,34.0,Man,No,NaN,South Asian,Yes,Too long,Easy
88546,35010,NaN,Yes,Never,The quality of OSS and closed source software ...,NaN,India,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers,NaN,Man,NaN,NaN,South Asian,Yes,Appropriate in length,Neither easy nor difficult
88577,40151,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",NaN,India,No,"Secondary school (e.g. American high school, G...",NaN,...,A lot more welcome now than last year,Tech meetups or events in your area,NaN,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Neither easy nor difficult
88587,40898,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Easy
88599,42599,NaN,No,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,30.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
88605,43809,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,NaN,"Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,NaN,Woman,NaN,NaN,NaN,Yes,Appropriate in length,Neither easy nor difficult
88658,50685,NaN,No,Once a month or more often,"OSS is, on average, of LOWER quality than prop...",Retired,India,NaN,I never completed any formal education,NaN,...,A lot less welcome now than last year,Tech articles written by other developers;Indu...,NaN,Woman,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
88711,60133,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,NaN,NaN,NaN,No,Too long,Neither easy nor difficult
88737,63972,NaN,Yes,Never,"OSS is, on average, of LOWER quality than prop...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot less welcome now than last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,South Asian,Yes,Appropriate in length,Neither easy nor difficult
88748,65988,NaN,Yes,Never,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",India,NaN,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Easy
88783,71874,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",India,No,NaN,NaN,...,A lot less welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Easy
88798,75103,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,No,Too long,Easy
88806,76822,NaN,No,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",NaN,India,NaN,"Professional degree (JD, MD, etc.)","A health science (ex. nursing, pharmacy, radio...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,South Asian,Yes,Too long,Easy
88808,77339,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers;Indu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88825,79795,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,NaN,Man,No,Straight / Heterosexual,NaN,No,Too long,Difficult
88852,83862,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,Yes,Too long,Neither easy nor difficult
88853,84299,NaN,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,India,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Somewhat more welcome now than last year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88864,86012,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy

In [71]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [72]:
df['LanguageWorkedWith']

0                          HTML/CSS;Java;JavaScript;Python
1                                      C++;HTML/CSS;Python
2                                                 HTML/CSS
3                                      C;C++;C#;Python;SQL
4              C++;HTML/CSS;Java;JavaScript;Python;SQL;VBA
5                                               Java;R;SQL
6                                      HTML/CSS;JavaScript
7        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
8        Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
9                            C#;Go;JavaScript;Python;R;SQL
10                                               Other(s):
11        Bash/Shell/PowerShell;HTML/CSS;Java;Python;R;SQL
12       Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...
13                                                     C++
14       Assembly;Bash/Shell/PowerShell;C;C++;HTML/CSS;...
15       Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...
16       Bash/Shell/PowerShell;HTML/CSS;JavaScript;Type...
17                                                Python;R
18              C#;HTML/CSS;Java;JavaScript;SQL;TypeScript
19       Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...
20       Assembly;Bash/Shell/PowerShell;C;C++;Go;Java;J...
21       Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...
22       Bash/Shell/PowerShell;HTML/CSS;JavaScript;Pyth...
23                      HTML/CSS;JavaScript;PHP;TypeScript
24                  HTML/CSS;JavaScript;PHP;SQL;TypeScript
                               ...
88858                                                  NaN
88859                                          Go;HTML/CSS
88860      Bash/Shell/PowerShell;C++;Python;Ruby;Other(s):
88861                                                  NaN
88862                                                  NaN
88863                                      C;C++;Other(s):
88864        Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript
88865      Bash/Shell/PowerShell;HTML/CSS;Python;Other(s):
88866                            Assembly;C++;HTML/CSS;VBA
88867                                                  NaN
88868                                                  NaN
88869                                                  NaN
88870                                           C;C++;Java
88871    Assembly;Bash/Shell/PowerShell;C;C#;HTML/CSS;J...
88872             C;C++;HTML/CSS;JavaScript;PHP;Python;SQL
88873                                                  NaN
88874                                                  NaN
88875                             HTML/CSS;Java;JavaScript
88876                           HTML/CSS;JavaScript;Python
88877    Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;W...
88878                        HTML/CSS;JavaScript;Other(s):
88879                                                  NaN
88880                                                  NaN
88881                                                  NaN
88882    Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
Name: LanguageWorkedWith, Length: 88883, dtype: object

In [73]:
df['LanguageWorkedWith'].str.contains('Python').sum()#these many number of developers are using python

36443

In [74]:
df.loc[filt3]['LanguageWorkedWith'].str.contains('Python').sum()

3105

In [75]:
# country_group['LanguageWorkedWith'].get_group("India").str.contains('Python').sum()

In [76]:
country_group['LanguageWorkedWith'].apply(lambda x:x.str.contains('Python').sum()).loc['India']

3105

In [82]:
country_uses_python = country_group['LanguageWorkedWith'].apply(lambda x:x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                                      8
Albania                                         23
Algeria                                         40
Andorra                                          0
Angola                                           2
Antigua and Barbuda                              0
Argentina                                      191
Armenia                                         28
Australia                                      790
Austria                                        338
Azerbaijan                                      17
Bahamas                                          2
Bahrain                                          4
Bangladesh                                     204
Barbados                                         1
Belarus                                         69
Belgium                                        296
Belize                                           1
Benin                                            3
Bhutan                                           1
Bolivia                                         11
Bosnia and Herzegovina                          29
Botswana                                         1
Brazil                                         767
Brunei Darussalam                                0
                                             ...
Syrian Arab Republic                             7
Taiwan                                          88
Tajikistan                                       0
Thailand                                        92
The former Yugoslav Republic of Macedonia        8
Timor-Leste                                      1
Togo                                             1
Tonga                                            0
Trinidad and Tobago                              5
Tunisia                                         40
Turkey                                         371
Turkmenistan                                     6
Uganda                                          47
Ukraine                                        246
United Arab Emirates                            49
United Kingdom                                2384
United Republic of Tanzania                     15
United States                                10083
Uruguay                                         36
Uzbekistan                                      14
Venezuela, Bolivarian Republic of...            28
Viet Nam                                        78
Yemen                                            3
Zambia                                           4
Zimbabwe                                        14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [86]:
country_respondents = df['Country'].value_counts()
country_respondents

United States                            20949
India                                     9061
Germany                                   5866
United Kingdom                            5737
Canada                                    3395
France                                    2391
Brazil                                    1948
Poland                                    1922
Australia                                 1903
Netherlands                               1852
Russian Federation                        1694
Spain                                     1604
Italy                                     1576
Sweden                                    1274
Switzerland                                978
Israel                                     952
Turkey                                     949
Pakistan                                   923
Ukraine                                    868
Austria                                    839
Czech Republic                             764
Romania                                    760
Iran                                       738
Belgium                                    727
China                                      664
                                         ...
Democratic People's Republic of Korea        3
Guinea                                       3
Liechtenstein                                3
Guyana                                       3
Lao People's Democratic Republic             3
Burundi                                      3
Gabon                                        2
Bhutan                                       2
Djibouti                                     2
Liberia                                      2
Malawi                                       2
San Marino                                   2
Seychelles                                   2
Sierra Leone                                 2
Saint Kitts and Nevis                        1
Sao Tome and Principe                        1
Saint Vincent and the Grenadines             1
Niger                                        1
Papua New Guinea                             1
Dominica                                     1
Tonga                                        1
Timor-Leste                                  1
North Korea                                  1
Brunei Darussalam                            1
Chad                                         1
Name: Country, Length: 179, dtype: int64

In [94]:
python_df = pd.concat([country_respondents,country_uses_python],axis='columns')
python_df

                                       Country  LanguageWorkedWith
United States                            20949               10083
India                                     9061                3105
Germany                                   5866                2451
United Kingdom                            5737                2384
Canada                                    3395                1558
France                                    2391                1054
Brazil                                    1948                 767
Poland                                    1922                 751
Australia                                 1903                 790
Netherlands                               1852                 767
Russian Federation                        1694                 708
Spain                                     1604                 641
Italy                                     1576                 625
Sweden                                    1274                 496
Switzerland                                978                 460
Israel                                     952                 457
Turkey                                     949                 371
Pakistan                                   923                 251
Ukraine                                    868                 246
Austria                                    839                 338
Czech Republic                             764                 285
Romania                                    760                 253
Iran                                       738                 268
Belgium                                    727                 296
China                                      664                 297
...                                        ...                 ...
Democratic People's Republic of Korea        3                   1
Guinea                                       3                   2
Liechtenstein                                3                   1
Guyana                                       3                   2
Lao People's Democratic Republic             3                   0
Burundi                                      3                   1
Gabon                                        2                   0
Bhutan                                       2                   1
Djibouti                                     2                   0
Liberia                                      2                   0
Malawi                                       2                   0
San Marino                                   2                   1
Seychelles                                   2                   1
Sierra Leone                                 2                   1
Saint Kitts and Nevis                        1                   0
Sao Tome and Principe                        1                   1
Saint Vincent and the Grenadines             1                   0
Niger                                        1                   1
Papua New Guinea                             1                   0
Dominica                                     1                   1
Tonga                                        1                   0
Timor-Leste                                  1                   1
North Korea                                  1                   0
Brunei Darussalam                            1                   0
Chad                                         1                   0

[179 rows x 2 columns]

In [95]:
python_df.rename(columns={"Country":"NumofRespondents","LanguageWorkedWith":"NumKnowsPython"},inplace=True)

In [102]:
python_df['PctKnowsPython'] = round((python_df['NumKnowsPython']/python_df['NumofRespondents']) * 100,2)

In [105]:
python_df = python_df.drop('PctofRespondents',axis=1)

In [106]:
python_df

,NumofRespondents,NumKnowsPython,PctKnowsPython
United States,20949,10083,48.13
India,9061,3105,34.27
Germany,5866,2451,41.78
United Kingdom,5737,2384,41.55
Canada,3395,1558,45.89
France,2391,1054,44.08
Brazil,1948,767,39.37
Poland,1922,751,39.07
Australia,1903,790,41.51
Netherlands,1852,767,41.41
Russian Federation,1694,708,41.79
Spain,1604,641,39.96
Italy,1576,625,39.66
Sweden,1274,496,38.93
Switzerland,978,460,47.03
Israel,952,457,48.00
Turkey,949,371,39.09
Pakistan,923,251,27.19
Ukraine,868,246,28.34
Austria,839,338,40.29
Czech Republic,764,285,37.30
Romania,760,253,33.29
Iran,738,268,36.31
Belgium,727,296,40.72
China,664,297,44.73
...,...,...,...
Democratic People's Republic of Korea,3,1,33.33
Guinea,3,2,66.67
Liechtenstein,3,1,33.33
Guyana,3,2,66.67
Lao People's Democratic Republic,3,0,0.00
Burundi,3,1,33.33
Gabon,2,0,0.00
Bhutan,2,1,50.00
Djibouti,2,0,0.00
Liberia,2,0,0.00
Malawi,2,0,0.00
San Marino,2,1,50.00
Seychelles,2,1,50.00
Sierra Leone,2,1,50.00
Saint Kitts and Nevis,1,0,0.00
Sao Tome and Principe,1,1,100.00
Saint Vincent and the Grenadines,1,0,0.00
Niger,1,1,100.00
Papua New Guinea,1,0,0.00
Dominica,1,1,100.00
Tonga,1,0,0.00
Timor-Leste,1,1,100.00
North Korea,1,0,0.00
Brunei Darussalam,1,0,0.00
Chad,1,0,0.00

In [108]:
python_df['PctKnowsPython'].argmax()

169

In [113]:
python_df.iloc[python_df['PctKnowsPython'].argmax()]

NumofRespondents      1.0
NumKnowsPython        1.0
PctKnowsPython      100.0
Name: Sao Tome and Principe, dtype: float64

> Experiment with argmax and percentage of python users(try different thresholds)

In [115]:
python_df.sort_values('PctKnowsPython',ascending=False,inplace=True)

In [116]:
python_df

,NumofRespondents,NumKnowsPython,PctKnowsPython
Sao Tome and Principe,1,1,100.00
Timor-Leste,1,1,100.00
Dominica,1,1,100.00
Niger,1,1,100.00
Turkmenistan,7,6,85.71
Mauritania,7,5,71.43
Guinea,3,2,66.67
Bahamas,3,2,66.67
Guyana,3,2,66.67
Uganda,72,47,65.28
Iceland,49,30,61.22
Haiti,5,3,60.00
Benin,5,3,60.00
Namibia,5,3,60.00
"Congo, Republic of the...",7,4,57.14
Oman,11,6,54.55
Cuba,30,16,53.33
Republic of Korea,39,20,51.28
San Marino,2,1,50.00
Sierra Leone,2,1,50.00
Monaco,4,2,50.00
South Korea,160,80,50.00
Bhutan,2,1,50.00
Seychelles,2,1,50.00
Chile,206,102,49.51
...,...,...,...
Libyan Arab Jamahiriya,10,2,20.00
Botswana,5,1,20.00
Afghanistan,44,8,18.18
Myanmar,52,9,17.31
Republic of Moldova,43,7,16.28
Yemen,19,3,15.79
The former Yugoslav Republic of Macedonia,54,8,14.81
Mozambique,7,1,14.29
Gabon,2,0,0.00
Djibouti,2,0,0.00
Brunei Darussalam,1,0,0.00
North Korea,1,0,0.00
Antigua and Barbuda,9,0,0.00
Tonga,1,0,0.00
Tajikistan,7,0,0.00
Papua New Guinea,1,0,0.00
Saint Vincent and the Grenadines,1,0,0.00
Andorra,7,0,0.00
Saint Kitts and Nevis,1,0,0.00
Burkina Faso,4,0,0.00
Cape Verde,3,0,0.00
Lao People's Democratic Republic,3,0,0.00
Malawi,2,0,0.00
Liberia,2,0,0.00
Chad,1,0,0.00

In [117]:
python_df.loc['Japan']

NumofRespondents    391.00
NumKnowsPython      182.00
PctKnowsPython       46.55
Name: Japan, dtype: float64

In [119]:
python_df.loc['France']

NumofRespondents    2391.00
NumKnowsPython      1054.00
PctKnowsPython        44.08
Name: France, dtype: float64

In [120]:
python_df.loc['Maldives']

NumofRespondents    13.00
NumKnowsPython       6.00
PctKnowsPython      46.15
Name: Maldives, dtype: float64

In [121]:
python_df.loc['Norway']

NumofRespondents    574.00
NumKnowsPython      232.00
PctKnowsPython       40.42
Name: Norway, dtype: float64

In [123]:
python_df[(python_df['PctKnowsPython']>50) & (python_df['PctKnowsPython']!=100)]

                           NumofRespondents  NumKnowsPython  PctKnowsPython
Turkmenistan                              7               6           85.71
Mauritania                                7               5           71.43
Guinea                                    3               2           66.67
Bahamas                                   3               2           66.67
Guyana                                    3               2           66.67
Uganda                                   72              47           65.28
Iceland                                  49              30           61.22
Haiti                                     5               3           60.00
Benin                                     5               3           60.00
Namibia                                   5               3           60.00
Congo, Republic of the...                 7               4           57.14
Oman                                     11               6           54.55
Cuba                                     30              16           53.33
Republic of Korea                        39              20           51.28

In [127]:
python_df[(python_df['PctKnowsPython']>50) & (python_df['NumofRespondents'] > 50)]

        NumofRespondents  NumKnowsPython  PctKnowsPython
Uganda                72              47           65.28

In [128]:
house = pd.read_csv('housing.csv')
house.head()#block data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [130]:
house = house.dropna()

In [131]:
house

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY
10,-122.26,37.85,52.0,2202.0,434.0,910.0,402.0,3.2031,281500.0,NEAR BAY
11,-122.26,37.85,52.0,3503.0,752.0,1504.0,734.0,3.2705,241800.0,NEAR BAY
12,-122.26,37.85,52.0,2491.0,474.0,1098.0,468.0,3.0750,213500.0,NEAR BAY
13,-122.26,37.84,52.0,696.0,191.0,345.0,174.0,2.6736,191300.0,NEAR BAY
14,-122.26,37.85,52.0,2643.0,626.0,1212.0,620.0,1.9167,159200.0,NEAR BAY
15,-122.26,37.85,50.0,1120.0,283.0,697.0,264.0,2.1250,140000.0,NEAR BAY
16,-122.27,37.85,52.0,1966.0,347.0,793.0,331.0,2.7750,152500.0,NEAR BAY
17,-122.27,37.85,52.0,1228.0,293.0,648.0,303.0,2.1202,155500.0,NEAR BAY
18,-122.26,37.84,50.0,2239.0,455.0,990.0,419.0,1.9911,158700.0,NEAR BAY
19,-122.27,37.84,52.0,1503.0,298.0,690.0,275.0,2.6033,162900.0,NEAR BAY
20,-122.27,37.85,40.0,751.0,184.0,409.0,166.0,1.3578,147500.0,NEAR BAY
21,-122.27,37.85,42.0,1639.0,367.0,929.0,366.0,1.7135,159800.0,NEAR BAY
22,-122.27,37.84,52.0,2436.0,541.0,1015.0,478.0,1.7250,113900.0,NEAR BAY
23,-122.27,37.84,52.0,1688.0,337.0,853.0,325.0,2.1806,99700.0,NEAR BAY
24,-122.27,37.84,52.0,2224.0,437.0,1006.0,422.0,2.6000,132600.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20615,-121.54,39.08,23.0,1076.0,216.0,724.0,197.0,2.3598,57500.0,INLAND
20616,-121.53,39.08,15.0,1810.0,441.0,1157.0,375.0,2.0469,55100.0,INLAND
20617,-121.53,39.06,20.0,561.0,109.0,308.0,114.0,3.3021,70800.0,INLAND
20618,-121.55,39.06,25.0,1332.0,247.0,726.0,226.0,2.2500,63400.0,INLAND
20619,-121.56,39.01,22.0,1891.0,340.0,1023.0,296.0,2.7303,99100.0,INLAND
20620,-121.48,39.05,40.0,198.0,41.0,151.0,48.0,4.5625,100000.0,INLAND
20621,-121.47,39.01,37.0,1244.0,247.0,484.0,157.0,2.3661,77500.0,INLAND
20622,-121.44,39.00,20.0,755.0,147.0,457.0,157.0,2.4167,67000.0,INLAND
20623,-121.37,39.03,32.0,1158.0,244.0,598.0,227.0,2.8235,65500.0,INLAND
20624,-121.41,39.04,16.0,1698.0,300.0,731.0,291.0,3.0739,87200.0,INLAND
20625,-121.52,39.12,37.0,102.0,17.0,29.0,14.0,4.1250,72000.0,INLAND
20626,-121.43,39.18,36.0,1124.0,184.0,504.0,171.0,2.1667,93800.0,INLAND
20627,-121.32,39.13,5.0,358.0,65.0,169.0,59.0,3.0000,162500.0,INLAND
20628,-121.48,39.10,19.0,2043.0,421.0,1018.0,390.0,2.5952,92400.0,INLAND
20629,-121.39,39.12,28.0,10035.0,1856.0,6912.0,1818.0,2.0943,108300.0,INLAND
20630,-121.32,39.29,11.0,2640.0,505.0,1257.0,445.0,3.5673,112000.0,INLAND
20631,-121.40,39.33,15.0,2655.0,493.0,1200.0,432.0,3.5179,107200.0,INLAND
20632,-121.45,39.26,15.0,2319.0,416.0,1047.0,385.0,3.1250,115600.0,INLAND
20633,-121.53,39.19,27.0,2080.0,412.0,1082.0,382.0,2.5495,98300.0,INLAND
20634,-121.56,39.27,28.0,2332.0,395.0,1041.0,344.0,3.7125,116800.0,INLAND
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [132]:
house.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [133]:
house.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY

In [134]:
house['rooms_per_hh'] = house['total_rooms']/house['households']
house['bedrooms_per_room'] = house['total_bedrooms']/house['total_rooms']
house['population_per_hh'] = house['population']/house['households']

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8052\116068079.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house['rooms_per_hh'] = house['total_rooms']/house['households']
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8052\116068079.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house['bedrooms_per_room'] = house['total_bedrooms']/house['total_rooms']
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8052\116068079.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  house['population_per_hh'] = house['population']/house['households']

In [135]:
house.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_hh,bedrooms_per_room,population_per_hh
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127,0.146591,2.555556
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137,0.155797,2.109842

### Making df togather

In [3]:
import pandas as pd

In [2]:
data1=pd.DataFrame({"Roll No.":[101,103,104,107,106],"Gender":['M','F','F','M','M'],"Name":['Rob','Pam','Max','Tom','Ben']})

NameError: name 'pd' is not defined

In [137]:
data1

   Roll No. Gender Name
0       101      M  Rob
1       103      F  Pam
2       104      F  Max
3       107      M  Tom
4       106      M  Ben

In [148]:
data2=pd.DataFrame({"Roll No.":[101,102,103,104,105,111],"Age":[31,35,36,30,38,56] })

In [139]:
data2

   Roll No.  Age
0       101   31
1       102   35
2       103   36
3       104   30
4       105   38

In [140]:
df_merge = pd.merge(left=data2,right=data1,how='inner')
df_merge

   Roll No.  Age Gender Name
0       101   31      M  Rob
1       103   36      F  Pam
2       104   30      F  Max

In [143]:
data1

   Roll No. Gender Name
0       101      M  Rob
1       103      F  Pam
2       104      F  Max
3       107      M  Tom
4       106      M  Ben

In [146]:
data2

   Roll No.  Age
0       101   31
1       102   35
2       103   36
3       104   30
4       105   38

In [150]:
df_all = data2.join(data1,lsuffix="_new",rsuffix="_old")
df_all

   Roll No._new  Age  Roll No._old Gender Name
0           101   31         101.0      M  Rob
1           102   35         103.0      F  Pam
2           103   36         104.0      F  Max
3           104   30         107.0      M  Tom
4           105   38         106.0      M  Ben
5           111   56           NaN    NaN  NaN

In [141]:
import pandas as pd
  
# Creating dataframe a
a = pd.DataFrame()
  
# Creating Dictionary
d = {'id': [1, 2, 10, 12], 
     'val1': ['a', 'b', 'c', 'd']}
  
a = pd.DataFrame(d)
  
# printing the dataframe
a

   id val1
0   1    a
1   2    b
2  10    c
3  12    d

In [151]:
import pandas as pd

# DataFrame 1
data1 = {
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 22, 28]
}

df1 = pd.DataFrame(data1)

# DataFrame 2
data2 = {
    'ID': [2, 3, 4, 5],
    'City': ['New York', 'San Francisco', 'Boston', 'Chicago'],
    'Salary': [60000, 75000, 50000, 80000]
}

df2 = pd.DataFrame(data2)

In [152]:
df1

   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   22
3   4    David   28

In [153]:
df2

   ID           City  Salary
0   2       New York   60000
1   3  San Francisco   75000
2   4         Boston   50000
3   5        Chicago   80000

In [158]:
result_concat = pd.concat([df1, df2], ignore_index=True)
result_concat

   ID     Name   Age           City   Salary
0   1    Alice  25.0            NaN      NaN
1   2      Bob  30.0            NaN      NaN
2   3  Charlie  22.0            NaN      NaN
3   4    David  28.0            NaN      NaN
4   2      NaN   NaN       New York  60000.0
5   3      NaN   NaN  San Francisco  75000.0
6   4      NaN   NaN         Boston  50000.0
7   5      NaN   NaN        Chicago  80000.0

In [159]:
result_inner = pd.merge(df1,df2,on="ID",how="inner")
result_inner

   ID     Name  Age           City  Salary
0   2      Bob   30       New York   60000
1   3  Charlie   22  San Francisco   75000
2   4    David   28         Boston   50000

In [161]:
df1.append(df2,ignore_index=True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_8052\2717680053.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2,ignore_index=True)

   ID     Name   Age           City   Salary
0   1    Alice  25.0            NaN      NaN
1   2      Bob  30.0            NaN      NaN
2   3  Charlie  22.0            NaN      NaN
3   4    David  28.0            NaN      NaN
4   2      NaN   NaN       New York  60000.0
5   3      NaN   NaN  San Francisco  75000.0
6   4      NaN   NaN         Boston  50000.0
7   5      NaN   NaN        Chicago  80000.0

In [163]:
result_inner = pd.merge(df1,df2,on="ID",how="inner")
result_inner

   ID     Name  Age           City  Salary
0   2      Bob   30       New York   60000
1   3  Charlie   22  San Francisco   75000
2   4    David   28         Boston   50000

In [162]:
result_ordered = pd.merge_ordered(df1,df2,on='ID')
result_ordered

   ID     Name   Age           City   Salary
0   1    Alice  25.0            NaN      NaN
1   2      Bob  30.0       New York  60000.0
2   3  Charlie  22.0  San Francisco  75000.0
3   4    David  28.0         Boston  50000.0
4   5      NaN   NaN        Chicago  80000.0

In [164]:
df1

   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   22
3   4    David   28

In [165]:
df2

   ID           City  Salary
0   2       New York   60000
1   3  San Francisco   75000
2   4         Boston   50000
3   5        Chicago   80000

In [169]:
result_asof =pd.merge_asof(df2,df1,on="ID")
result_asof

   ID           City  Salary     Name  Age
0   2       New York   60000      Bob   30
1   3  San Francisco   75000  Charlie   22
2   4         Boston   50000    David   28
3   5        Chicago   80000    David   28

In [170]:
import pandas as pd

data1 = {'Timestamp': ['2023-07-01 10:00:00', '2023-07-03 15:30:00', '2023-07-05 08:45:00'],
         'Value1': [10, 15, 20]}

data2 = {'Timestamp': ['2023-07-02 09:00:00', '2023-07-04 14:00:00'],
         'Value2': [5, 25]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [175]:
df1['Timestamp'] = pd.to_datetime(df1['Timestamp'])

In [176]:
df2['Timestamp'] = pd.to_datetime(df2['Timestamp'])

In [177]:
df2.dtypes

Timestamp    datetime64[ns]
Value2                int64
dtype: object

In [179]:
df1

            Timestamp  Value1
0 2023-07-01 10:00:00      10
1 2023-07-03 15:30:00      15
2 2023-07-05 08:45:00      20

In [180]:
df2

            Timestamp  Value2
0 2023-07-02 09:00:00       5
1 2023-07-04 14:00:00      25

In [178]:
merged_Df = pd.merge_asof(df1,df2,on="Timestamp",direction="backward")
merged_Df

            Timestamp  Value1  Value2
0 2023-07-01 10:00:00      10     NaN
1 2023-07-03 15:30:00      15     5.0
2 2023-07-05 08:45:00      20    25.0

In [181]:
merged_Df = pd.merge_asof(df2,df1,on="Timestamp")
merged_Df

            Timestamp  Value2  Value1
0 2023-07-02 09:00:00       5      10
1 2023-07-04 14:00:00      25      15

In [183]:
merged_Df = pd.merge_asof(df1,df2,on="Timestamp",direction="forward")
merged_Df

            Timestamp  Value1  Value2
0 2023-07-01 10:00:00      10     5.0
1 2023-07-03 15:30:00      15    25.0
2 2023-07-05 08:45:00      20     NaN

In [184]:
df1

            Timestamp  Value1
0 2023-07-01 10:00:00      10
1 2023-07-03 15:30:00      15
2 2023-07-05 08:45:00      20

In [185]:
import pandas as pd

# DataFrame 1
data1 = {'Timestamp': ['2023-07-01 10:00:00', '2023-07-03 15:30:00', '2023-07-05 08:45:00'],
         'Value1': [10, 15, 20]}
df1 = pd.DataFrame(data1)

# DataFrame 2
data2 = {'Timestamp': ['2023-07-02 09:00:00', '2023-07-04 14:00:00'],
         'Value2': [5, 25]}
df2 = pd.DataFrame(data2)

In [189]:
df1.dtypes

Timestamp    object
Value1        int64
dtype: object

In [190]:
df1['Timestamp'] = pd.to_datetime(df1['Timestamp'])

In [191]:
df2['Timestamp'] = pd.to_datetime(df2['Timestamp'])

In [192]:
df1

            Timestamp  Value1
0 2023-07-01 10:00:00      10
1 2023-07-03 15:30:00      15
2 2023-07-05 08:45:00      20

In [193]:
df2

            Timestamp  Value2
0 2023-07-02 09:00:00       5
1 2023-07-04 14:00:00      25

In [195]:
pd.merge_asof(df1,df2,on="Timestamp",direction="forward")

            Timestamp  Value1  Value2
0 2023-07-01 10:00:00      10     5.0
1 2023-07-03 15:30:00      15    25.0
2 2023-07-05 08:45:00      20     NaN

In [196]:
import pandas as pd

data = {
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'Major': ['Math', 'English', 'Math', 'Math', 'English'],
    'Score': [85, 78, 92, 88, 95]
}

df = pd.DataFrame(data)

In [197]:
df

   Gender    Major  Score
0    Male     Math     85
1  Female  English     78
2    Male     Math     92
3  Female     Math     88
4    Male  English     95

In [201]:
df[df['Gender']=="Female"]

   Gender    Major  Score
1  Female  English     78
3  Female     Math     88

In [202]:
df[df['Gender']=="Male"]

  Gender    Major  Score
0   Male     Math     85
2   Male     Math     92
4   Male  English     95

In [203]:
(85+92)/2

88.5

In [198]:
cross_tab = pd.crosstab(df['Gender'],df['Major'],values=df['Score'],aggfunc='mean')
cross_tab

Major   English  Math
Gender
Female     78.0  88.0
Male       95.0  88.5

- Value counts of Gender wise by Country 
- Gender wise Python Users in each country
- Groupby EdLevel, Salary Median
- Years of experience grouping> Salary in terms of Years of Experience(median)
- Years of experience grouping> Count of Gender
- Country wise grouping>> Retreieve how much blockchain tech is famous/implemented in organizations

In [209]:
df_new=house[20000:]

In [210]:
df_new.ocean_proximity.unique()

array(['NEAR OCEAN', '<1H OCEAN', 'INLAND'], dtype=object)

In [211]:
df_new.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity', 'rooms_per_hh',
       'bedrooms_per_room', 'population_per_hh'],
      dtype='object')

In [212]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Language': ['Python', 'Python', 'Java', 'Python', 'Java'],
    'Experience': ['Beginner', 'Intermediate', 'Advanced', 'Intermediate', 'Beginner']
}

df = pd.DataFrame(data)

In [215]:
df_new

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_hh,bedrooms_per_room,population_per_hh
20202,-119.20,34.26,25.0,2203.0,367.0,1194.0,377.0,5.4087,223200.0,NEAR OCEAN,5.843501,0.166591,3.167109
20203,-119.20,34.25,18.0,3208.0,643.0,1973.0,614.0,3.8162,235000.0,NEAR OCEAN,5.224756,0.200436,3.213355
20204,-119.20,34.25,25.0,195.0,59.0,140.0,43.0,3.8889,187500.0,NEAR OCEAN,4.534884,0.302564,3.255814
20205,-119.20,34.28,22.0,2362.0,601.0,1127.0,499.0,3.4006,219400.0,NEAR OCEAN,4.733467,0.254445,2.258517
20206,-119.22,34.27,30.0,1937.0,295.0,695.0,313.0,5.0679,234300.0,NEAR OCEAN,6.188498,0.152297,2.220447
20207,-119.23,34.27,22.0,3536.0,615.0,1650.0,612.0,4.2381,229300.0,NEAR OCEAN,5.777778,0.173925,2.696078
20208,-119.21,34.31,22.0,7548.0,1038.0,2855.0,1008.0,6.7290,409300.0,NEAR OCEAN,7.488095,0.137520,2.832341
20209,-119.21,34.28,27.0,2219.0,312.0,937.0,315.0,5.7601,281100.0,NEAR OCEAN,7.044444,0.140604,2.974603
20210,-119.23,34.30,18.0,1713.0,244.0,690.0,239.0,6.9483,404300.0,NEAR OCEAN,7.167364,0.142440,2.887029
20211,-119.23,34.28,24.0,4260.0,691.0,1581.0,607.0,5.5048,303600.0,NEAR OCEAN,7.018122,0.162207,2.604613
20212,-119.22,34.28,24.0,2212.0,332.0,899.0,331.0,5.5330,299700.0,NEAR OCEAN,6.682779,0.150090,2.716012
20213,-119.22,34.28,33.0,2467.0,377.0,1052.0,363.0,4.7333,257500.0,NEAR OCEAN,6.796143,0.152817,2.898072
20214,-119.25,34.28,36.0,1530.0,341.0,703.0,317.0,3.5819,231900.0,NEAR OCEAN,4.826498,0.222876,2.217666
20215,-119.26,34.28,41.0,2822.0,564.0,1288.0,541.0,3.0799,254100.0,NEAR OCEAN,5.216266,0.199858,2.380776
20216,-119.25,34.30,34.0,1189.0,220.0,445.0,203.0,4.8824,396400.0,NEAR OCEAN,5.857143,0.185029,2.192118
20217,-119.25,34.28,36.0,2232.0,373.0,951.0,368.0,5.2261,303200.0,NEAR OCEAN,6.065217,0.167115,2.584239
20218,-119.24,34.28,41.0,1280.0,240.0,608.0,252.0,4.4038,229100.0,NEAR OCEAN,5.079365,0.187500,2.412698
20219,-119.26,34.28,41.0,1835.0,311.0,683.0,308.0,4.8977,358200.0,NEAR OCEAN,5.957792,0.169482,2.217532
20220,-119.27,34.28,52.0,2239.0,420.0,941.0,397.0,4.1250,349000.0,NEAR OCEAN,5.639798,0.187584,2.370277
20221,-119.27,34.29,32.0,2274.0,406.0,982.0,393.0,5.3254,385200.0,NEAR OCEAN,5.786260,0.178540,2.498728
20222,-119.29,34.29,33.0,3854.0,982.0,1835.0,894.0,3.5294,323900.0,NEAR OCEAN,4.310962,0.254800,2.052573
20223,-119.29,34.30,24.0,7637.0,1705.0,4647.0,1623.0,3.5385,186800.0,NEAR OCEAN,4.705484,0.223255,2.863216
20224,-119.30,34.29,41.0,1445.0,410.0,1052.0,388.0,2.6333,170800.0,NEAR OCEAN,3.724227,0.283737,2.711340
20225,-119.30,34.29,50.0,3128.0,825.0,2535.0,783.0,2.3669,165300.0,NEAR OCEAN,3.994891,0.263747,3.237548
20226,-119.30,34.29,26.0,3665.0,932.0,2775.0,870.0,1.9286,160500.0,NEAR OCEAN,4.212644,0.254297,3.189655
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20615,-121.54,39.08,23.0,1076.0,216.0,724.0,197.0,2.3598,57500.0,INLAND,5.461929,0.200743,3.675127
20616,-121.53,39.08,15.0,1810.0,441.0,1157.0,375.0,2.0469,55100.0,INLAND,4.826667,0.243646,3.085333
20617,-121.53,39.06,20.0,561.0,109.0,308.0,114.0,3.3021,70800.0,INLAND,4.921053,0.194296,2.701754
20618,-121.55,39.06,25.0,1332.0,247.0,726.0,226.0,2.2500,63400.0,INLAND,5.893805,0.185435,3.212389
20619,-121.56,39.01,22.0,1891.0,340.0,1023.0,296.0,2.7303,99100.0,INLAND,6.388514,0.179799,3.456081
20620,-121.48,39.05,40.0,198.0,41.0,151.0,48.0,4.5625,100000.0,INLAND,4.125000,0.207071,3.145833
20621,-121.47,39.01,37.0,1244.0,247.0,484.0,157.0,2.3661,77500.0,INLAND,7.923567,0.198553,3.082803
20622,-121.44,39.00,20.0,755.0,147.0,457.0,157.0,2.4167,67000.0,INLAND,4.808917,0.194702,2.910828
20623,-121.37,39.03,32.0,1158.0,244.0,598.0,227.0,2.8235,65500.0,INLAND,5.101322,0.210708,2.634361
20624,-121.41,39.04,16.0,1698.0,300.0,731.0,291.0,3.0739,87200.0,INLAND,5.835052,0.176678,2.512027
20625,-121.52,39.12,37.0,102.0,17.0,29.0,14.0,4.1250,72000.0,INLAND,7.285714,0.166667,2.071429
20626,-121.43,39.18,36.0,1124.0,184.0,504.0,171.0,2.1667,93800.0,INLAND,6.573099,0.163701,2.947368
20627,-121.32,39.13,5.0,358.0,65.0,169.0,59.0,3.0000,162500.0,INLAND,6.067797,0.181564,2.864407
20628,-121.48,39.10,19.0,2043.0,421.0,1018.0,390.0,2.5952,92400.0,INLAND,5.238462,0.206070,2.610256
20629,-121.39,39.12,28.0,10035.0,1856.0,6912.0,1818.0,2.0943,108300.0,INLAND,5.519802,0.184953,3.801980
20630,-121.32,39.29,11.0,2640.0,505.0,1257.0,445.0,3.5673,112000.0,INLAND,5.932584,0.191288,2.824719
20631,-121.40,39.33,15.0,2655.0,493.0,1200.0,432.0,3.5179,107200.0,INLAND,6.145833,0.185687,2.777778
20632,-121.45,39.26,15.0,2319.0,416.0,1047.0,385.0,3.1250,115600.0,INLAND,6.023377,0.179388,2.719481
20633,-121.53,39.19,27.0,2080.0,412.0,1082.0,382.0,2.5495,98300.0,INLAND,5.445026,0.198077,2.832461
20634,-121.56,39.27,28.0,2332.0,395.0,1041.0,344.0,3.7125,116800.0,INLAND,6.779070,0.169383,3.026163
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND,5.045455,0.224625,2.560606
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND,6.114035,0.215208,3.122807
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND,5.205543,0.215173,2.325635
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND,5.329513,0.219892,2.123209
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND,5.254717,0.221185,2.616981

In [213]:
df

      Name Language    Experience
0    Alice   Python      Beginner
1      Bob   Python  Intermediate
2  Charlie     Java      Advanced
3    David   Python  Intermediate
4      Eve     Java      Beginner

In [214]:
pd.crosstab(df['Experience'],df['Language'])

Language      Java  Python
Experience
Advanced         1       0
Beginner         1       1
Intermediate     0       2

In [217]:
pd.crosstab(df_new['ocean_proximity'],df_new['housing_median_age'])

housing_median_age,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,11.0,12.0,...,41.0,42.0,43.0,44.0,45.0,46.0,47.0,48.0,50.0,52.0
ocean_proximity,,,,,,,,,,,,,,,,,,,,,
<1H OCEAN,1,2,5,5,1,1,2,3,6,1,...,0,1,0,0,1,0,1,0,1,0
INLAND,0,0,2,2,1,1,1,3,5,2,...,1,2,4,0,1,0,1,1,0,1
NEAR OCEAN,0,1,1,0,0,2,1,0,0,3,...,4,2,1,2,0,2,0,0,2,3

In [219]:
df

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Mathematics or statistics,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,28.0,Man,No,Straight / Heterosexual,East Asian,No,Too long,Neither easy nor difficult
6,7,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,"Independent contractor, freelancer, or self-em...",Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Another engineering discipline (ex. civil, ele...",...,A lot more welcome now than last year,NaN,42.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
7,8,I code primarily as a hobby,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,NaN,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,A lot more welcome now than last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,NaN,NaN,Appropriate in length,Neither easy nor difficult
8,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
9,10,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Somewhat less welcome now than last year,Tech articles written by other developers;Tech...,NaN,NaN,NaN,NaN,NaN,Yes,Too long,Difficult
10,11,I code primarily as a hobby,Yes,Once a month or more often,The quality of OSS and closed source software ...,NaN,Antigua and Barbuda,"Yes, full-time",Primary/elementary school,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,22.0,Man,Yes,Bisexual;Gay or Lesbian;Straight / Heterosexual,Black or of African descent;East Asian;Hispani...,No,Appropriate in length,Easy
11,12,I am a student who is learning to code,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Canada,"Yes, full-time",Some college/university study without earning ...,Mathematics or statistics,...,Just as welcome now as I felt last year,Courses on technologies you're interested in,21.0,Woman,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
12,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
13,14,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Germany,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,31.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Easy
14,15,I am a student who is learning to code,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, but looking for work",India,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,20.0,Man,No,NaN,NaN,Yes,Too long,Neither easy nor difficult
15,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
16,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy
17,18,"I am not primarily a developer, but I write co...",Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Russian Federation,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
18,19,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Brazil,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,31.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina,Yes,Too long,Easy
19,20,"I am not primarily a developer, but I write co...",No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Lithuania,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...",...,Not applicable - I did not use Stack Overflow ...,Tech articles written by other developers,38.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
20,21,I code primarily as a hobby,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",NaN,Canada,NaN,NaN,NaN,...,Not applicable - I did not use Stack Overflow ...,NaN,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
21,22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
22,23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
23,24,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Israel,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,23.0,Man,No,Straight / Heterosexual,Middle Eastern,No,Appropriate in length,Easy
24,25,I am a developer by profession,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,South Africa,No,Associate degree,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too short,Neither easy nor difficult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88858,85538,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88859,85642,NaN,No,Less than once per year,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",United States,No,Associate degree,"Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,34.0,"Non-binary, genderqueer, or gender non-conforming",NaN,Bisexual;Gay or Lesbian,White or of European descent,No,Appropriate in length,Easy
88860,85738,NaN,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Brazil,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Industry news about technologies you're intere...,15.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Too short,Easy
88861,85744,NaN,No,Never,"OSS is, on average, of LOWER quality than prop...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88862,85955,NaN,Yes,Less than once per year,"OSS is, on average, of LOWER quality than prop...","Not employed, and not looking for work",Egypt,"Yes, part-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers,NaN,Man,No,NaN,Middle Eastern,No,Too long,Neither easy nor difficult
88863,85961,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,NaN,United Kingdom,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,NaN,45.0,Man,No,Gay or Lesbian,White or of European descent,No,Appropriate in length,Difficult
88864,86012,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,India,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...",...,Not applicable - I did not use Stack Overflow ...,Industry news about technologies you're intere...,24.0,Man,No,NaN,South Asian,NaN,Appropriate in length,Easy
88865,86566,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Retired,Switzerland,No,Some college/university study without earning ...,"A humanities discipline (ex. literature, histo...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,74.0,Man,No,NaN,White or of European descent,No,Appropriate in length,Easy
88866,86638,NaN,Yes,Never,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Australia,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,30.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
88867,86806,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Nigeria,"Yes, part-time","Secondary school (e.g. American high school, G...",NaN,...,A lot less welcome now than last year,Tech articles written by other developers,19.0,Man,No,NaN,Black or of African descent;Middle Eastern,No,Appropriate in length,Neither easy nor difficult
88868,86980,NaN,No,Never,The quality of OSS and closed source software ...,"Not employed, but looking for work",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88869,86999,NaN,No,Never,"OSS is, on average, of LOWER quality than prop...","Not employed, and not looking for work",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88870,87352,NaN,Yes,Less than once per year,NaN,"Not employed, and not looking for work",Netherlands,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,59.0,Man,No,NaN,NaN,No,NaN,NaN
88871,87386,NaN,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",Italy,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,21.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88872,87739,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Czech Republic,"Yes, full-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,25.0,NaN,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88873,88062,NaN,No,Never,"OSS is, on average, of LOWER quality than prop...",NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88874,88076,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88875,88182,NaN,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Pakistan,NaN,"Secondary school (e.g. American high school, G...",NaN,...,Not applicable - I did not use Stack Overflow ...,Courses on technologies you're interested in,NaN,Man,No,Straight / Heterosexual,NaN,Yes,Too short,Neither easy nor difficult
88876,88212,NaN,No,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Spain,No,"Secondary school (e.g. American high school, G...",NaN,...,NaN,Tech articles written by other developers;Indu...,40.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
88877,88282,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,NaN,No,Too short,Neither easy nor difficult
88878,88377,NaN,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,"Not employed, and not looking for work",Canada,No,Primary/elementary school,NaN,...,NaN,Tech articles written by other developers;Tech...,NaN,Man,No,NaN,NaN,No,Appropriate in length,Easy
88879,88601,NaN,No,Never,The quality of OSS and closed source software ...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88880,88802,NaN,No,Never,NaN,Employed full-time,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88881,88816,NaN,No,Never,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88882,88863,NaN,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...","Not employed, and not looking for work",Spain,"Yes, full-time","Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...",...,Somewhat less welcome now than last year,Tech articles written by other developers;Indu...,18.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;White or of European...,No,Appropriate in length,Easy

In [220]:
pd.crosstab(df['Gender'],df['Hobbyist'])

Hobbyist                                               No    Yes
Gender
Man                                                 14300  63619
Man;Non-binary, genderqueer, or gender non-conf...     28    153
Non-binary, genderqueer, or gender non-conforming     119    478
Woman                                                2318   4026
Woman;Man                                              22    110
Woman;Man;Non-binary, genderqueer, or gender no...     15     55
Woman;Non-binary, genderqueer, or gender non-co...     32    131

In [4]:
import pandas as pd

In [5]:


dummy_data1 = {
        'id': ['1', '2', '3', '4', '5'],
        'Feature1': ['A', 'C', 'E', 'G', 'I'],
        'Feature2': ['B', 'D', 'F', 'H', 'J']}

df1 = pd.DataFrame(dummy_data1, columns = ['id', 'Feature1', 'Feature2'])

df1

  id Feature1 Feature2
0  1        A        B
1  2        C        D
2  3        E        F
3  4        G        H
4  5        I        J

In [6]:


dummy_data2 = {
        'id': ['1', '2', '6', '7', '8'],
        'Feature1': ['K', 'M', 'O', 'Q', 'S'],
        'Feature2': ['L', 'N', 'P', 'R', 'T']}
df2 = pd.DataFrame(dummy_data2, columns = ['id', 'Feature1', 'Feature2'])

df2

  id Feature1 Feature2
0  1        K        L
1  2        M        N
2  6        O        P
3  7        Q        R
4  8        S        T

In [7]:


dummy_data3 = {
        'id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'Feature3': [12, 13, 14, 15, 16, 17, 15, 12, 13, 23]}
df3 = pd.DataFrame(dummy_data3, columns = ['id', 'Feature3'])

df3

   id  Feature3
0   1        12
1   2        13
2   3        14
3   4        15
4   5        16
5   7        17
6   8        15
7   9        12
8  10        13
9  11        23

## concatenation

In [9]:
df_row = pd.concat([df1,df2],ignore_index=True)
df_row

  id Feature1 Feature2
0  1        A        B
1  2        C        D
2  3        E        F
3  4        G        H
4  5        I        J
5  1        K        L
6  2        M        N
7  6        O        P
8  7        Q        R
9  8        S        T

## Merge

In [12]:
df_merge_col = pd.merge(df_row,df3,on='id')
df_merge_col

  id  Feature3 Feature1 Feature2
0  1        12        A        B
1  1        12        K        L
2  2        13        C        D
3  2        13        M        N
4  3        14        E        F
5  4        15        G        H
6  5        16        I        J
7  7        17        Q        R
8  8        15        S        T

You can notice that the DataFrames are now merged into a single DataFrame based on the **common values** present in the **id** column of both the DataFrames.

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

In [15]:
df_merge_difkey = pd.merge(df_row,df3,left_on="id",right_on="id")
df_merge_difkey

  id Feature1 Feature2  Feature3
0  1        A        B        12
1  1        K        L        12
2  2        C        D        13
3  2        M        N        13
4  3        E        F        14
5  4        G        H        15
6  5        I        J        16
7  7        Q        R        17
8  8        S        T        15

In [16]:
df4 = df3.copy()

In [21]:
df4.rename(columns={"id":"customer_id"},inplace=True)

In [22]:
df4

  customer_id  Feature3
0           1        12
1           2        13
2           3        14
3           4        15
4           5        16
5           7        17
6           8        15
7           9        12
8          10        13
9          11        23

In [23]:
newd_diff_key  =pd.merge(df_row,df4,left_on="id",right_on="customer_id")

In [24]:
newd_diff_key

  id Feature1 Feature2 customer_id  Feature3
0  1        A        B           1        12
1  1        K        L           1        12
2  2        C        D           2        13
3  2        M        N           2        13
4  3        E        F           3        14
5  4        G        H           4        15
6  5        I        J           5        16
7  7        Q        R           7        17
8  8        S        T           8        15

In [26]:
user_usage = pd.read_csv("https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/user_usage.csv")
user_usage

     outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                      21.97                    4.82     1557.33   22787
1                    1710.08                  136.88     7267.55   22788
2                    1710.08                  136.88     7267.55   22789
3                      94.46                   35.17      519.12   22790
4                      71.59                   79.26     1557.33   22792
..                       ...                     ...         ...     ...
235                   260.66                   68.44      896.96   25008
236                    97.12                   36.50     2815.00   25040
237                   355.93                   12.37     6828.09   25046
238                   632.06                  120.46     1453.16   25058
239                   488.70                  906.92     3089.85   25220

[240 rows x 4 columns]

In [27]:
user_device = pd.read_csv('https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/user_device.csv')
user_device

,use_id,user_id,platform,platform_version,device,use_type_id
0,22782,26980,ios,10.2,"iPhone7,2",2
1,22783,29628,android,6.0,Nexus 5,3
2,22784,28473,android,5.1,SM-G903F,1
3,22785,15200,ios,10.2,"iPhone7,2",3
4,22786,28239,android,6.0,ONE E1003,1
...,...,...,...,...,...,...
267,23049,29725,android,6.0,SM-G900F,1
268,23050,29726,ios,10.2,"iPhone7,2",3
269,23051,29726,ios,10.2,"iPhone7,2",3
270,23052,29727,ios,10.1,"iPhone8,4",3
271,23053,20257,android,5.1,Vodafone Smart ultra 6,1

In [28]:
devices = pd.read_csv('https://raw.githubusercontent.com/shanealynn/Pandas-Merge-Tutorial/master/android_devices.csv')
devices

      Retail Branding Marketing Name       Device                      Model
0                 NaN            NaN       AD681H  Smartfren Andromax AD681H
1                 NaN            NaN        FJL21                      FJL21
2                 NaN            NaN          T31              Panasonic T31
3                 NaN            NaN     hws7721g         MediaPad 7 Youth 2
4                  3Q        OC1020A      OC1020A                    OC1020A
...               ...            ...          ...                        ...
14541           pendo    PNDPP44QC10  PNDPP44QC10                PNDPP44QC10
14542           pendo     PNDPP44QC7   PNDPP44QC7                 PNDPP44QC7
14543      sugar_aums         QPOINT        QPI-1                      QPI-1
14544       tecmobile       OmnisOne     OmnisOne                  Omnis One
14545           ucall          EASY1        EASY1                      EASY1

[14546 rows x 4 columns]

In [36]:
data1 = pd.merge(user_usage,user_device[["use_id","platform","device"]],on="use_id",how="outer",indicator=True)
data1

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,_merge
0,21.97,4.82,1557.33,22787,android,GT-I9505,both
1,1710.08,136.88,7267.55,22788,android,SM-G930F,both
2,1710.08,136.88,7267.55,22789,android,SM-G930F,both
3,94.46,35.17,519.12,22790,android,D2303,both
4,71.59,79.26,1557.33,22792,android,SM-G361F,both
...,...,...,...,...,...,...,...
348,NaN,NaN,NaN,23047,ios,"iPhone7,1",right_only
349,NaN,NaN,NaN,23048,android,ONEPLUS A3003,right_only
350,NaN,NaN,NaN,23050,ios,"iPhone7,2",right_only
351,NaN,NaN,NaN,23051,ios,"iPhone7,2",right_only
352,NaN,NaN,NaN,23052,ios,"iPhone8,4",right_only

In [34]:
data1['_merge'].unique()

['both', 'left_only', 'right_only']
Categories (3, object): ['left_only', 'right_only', 'both']

In [30]:
print(user_device.shape)
print(user_usage.shape)

(272, 6)
(240, 4)

In [33]:
user_device.index

RangeIndex(start=0, stop=272, step=1)

In [37]:
data = pd.Series([1, 6, 7, [46, 56, 49], 45, [15, 10, 12]]).to_frame("dirty")

In [38]:
data

          dirty
0             1
1             6
2             7
3  [46, 56, 49]
4            45
5  [15, 10, 12]

In [40]:
data.explode('dirty',ignore_index=True)

  dirty
0     1
1     6
2     7
3    46
4    56
5    49
6    45
7    15
8    10
9    12

In [42]:
import numpy as np

In [43]:
df = pd.DataFrame({'A': [[0, 1, 2], 'foo', [], [3, 4]],'B': 1,'C': [['a', 'b', 'c'], np.nan, [], ['d', 'e']]})
df

           A  B          C
0  [0, 1, 2]  1  [a, b, c]
1        foo  1        NaN
2         []  1         []
3     [3, 4]  1     [d, e]

In [44]:
df.explode('A')

     A  B          C
0    0  1  [a, b, c]
0    1  1  [a, b, c]
0    2  1  [a, b, c]
1  foo  1        NaN
2  NaN  1         []
3    3  1     [d, e]
3    4  1     [d, e]

In [47]:
df.explode(column=list("AC"))

     A  B    C
0    0  1    a
0    1  1    b
0    2  1    c
1  foo  1  NaN
2  NaN  1  NaN
3    3  1    d
3    4  1    e

## sqeeze

In [49]:
subset = data1.loc[data1.index <1,'outgoing_mins_per_month']
subset

0    21.97
Name: outgoing_mins_per_month, dtype: float64

In [50]:
type(subset)

pandas.core.series.Series

In [53]:
subset.squeeze()

21.97

## between

In [55]:
data1[data1['outgoing_mins_per_month'].between(30,50)]

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,_merge
8,30.92,22.77,3114.67,22799,android,ONEPLUS A3003,both
53,43.03,0.47,2076.45,22882,android,F3111,both
54,43.03,0.47,2076.45,22883,android,F3111,both
55,43.03,0.47,2076.45,22884,android,F3111,both
71,42.25,37.06,1557.33,22909,android,HTC Desire 825,both
116,49.71,38.02,15573.33,22982,android,SM-G935F,both
131,37.27,136.10,1557.33,23005,android,SM-G900F,both
139,42.93,124.33,519.12,23020,android,SM-G361F,both
158,42.75,46.83,5191.12,23053,android,Vodafone Smart ultra 6,both
162,46.40,65.90,1557.33,23073,NaN,NaN,left_only
163,38.56,47.65,4025.86,23083,NaN,NaN,left_only
166,41.60,61.51,1557.33,23106,NaN,NaN,left_only
172,48.62,9.13,519.12,23207,NaN,NaN,left_only

In [66]:
data1.describe().T.drop("count",axis=1).style.highlight_max(color="green")

In [65]:
data1.describe().T.drop("count",axis=1).style.highlight_min(color="green")

In [73]:
data1.describe().T.drop("count",axis=1).style.background_gradient(subset=["mean","50%"],cmap="Oranges")

In [75]:
data1.dtypes

outgoing_mins_per_month     float64
outgoing_sms_per_month      float64
monthly_mb                  float64
use_id                        int64
platform                     object
device                       object
_merge                     category
dtype: object

In [78]:
import numpy as np

In [80]:
data1.select_dtypes(exclude=np.number)

    platform         device      _merge
0    android       GT-I9505        both
1    android       SM-G930F        both
2    android       SM-G930F        both
3    android          D2303        both
4    android       SM-G361F        both
..       ...            ...         ...
348      ios      iPhone7,1  right_only
349  android  ONEPLUS A3003  right_only
350      ios      iPhone7,2  right_only
351      ios      iPhone7,2  right_only
352      ios      iPhone8,4  right_only

[353 rows x 3 columns]

In [87]:
ages = pd.Series([55, 52, 50, 66, 57, 59, 49, 60]).to_frame("ages")
ages

   ages
0    55
1    52
2    50
3    66
4    57
5    59
6    49
7    60

In [85]:
ages.mask(cond=~ages['ages'].between(50,60),other="not in the list")

              ages
0               55
1               52
2               50
3  not in the list
4               57
5               59
6  not in the list
7               60

In [89]:
ages

   ages
0    55
1    52
2    50
3    66
4    57
5    59
6    49
7    60

In [88]:
ages['ages'].idxmax()

3

In [90]:
ages['ages'].idxmin()

6

In [91]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 353 entries, 0 to 352
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   outgoing_mins_per_month  240 non-null    float64
 1   outgoing_sms_per_month   240 non-null    float64
 2   monthly_mb               240 non-null    float64
 3   use_id                   353 non-null    int64
 4   platform                 272 non-null    object
 5   device                   272 non-null    object
 6   _merge                   353 non-null    category
dtypes: category(1), float64(3), int64(1), object(2)
memory usage: 19.8+ KB

In [94]:
data1[data1['outgoing_mins_per_month']>100]

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,_merge
1,1710.08,136.88,7267.55,22788,android,SM-G930F,both
2,1710.08,136.88,7267.55,22789,android,SM-G930F,both
10,554.41,150.06,3114.67,22804,android,SM-G935F,both
11,189.10,24.08,519.12,22805,android,GT-I9195,both
12,283.30,107.47,15573.33,22806,android,A0001,both
...,...,...,...,...,...,...,...
234,558.52,70.64,3334.28,24963,NaN,NaN,left_only
235,260.66,68.44,896.96,25008,NaN,NaN,left_only
237,355.93,12.37,6828.09,25046,NaN,NaN,left_only
238,632.06,120.46,1453.16,25058,NaN,NaN,left_only
239,488.70,906.92,3089.85,25220,NaN,NaN,left_only

In [98]:
data1

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,_merge
0,21.97,4.82,1557.33,22787,android,GT-I9505,both
1,1710.08,136.88,7267.55,22788,android,SM-G930F,both
2,1710.08,136.88,7267.55,22789,android,SM-G930F,both
3,94.46,35.17,519.12,22790,android,D2303,both
4,71.59,79.26,1557.33,22792,android,SM-G361F,both
...,...,...,...,...,...,...,...
348,NaN,NaN,NaN,23047,ios,"iPhone7,1",right_only
349,NaN,NaN,NaN,23048,android,ONEPLUS A3003,right_only
350,NaN,NaN,NaN,23050,ios,"iPhone7,2",right_only
351,NaN,NaN,NaN,23051,ios,"iPhone7,2",right_only
352,NaN,NaN,NaN,23052,ios,"iPhone8,4",right_only

In [97]:
len(data1[data1['outgoing_mins_per_month']>100])

166

In [100]:
data1['outgoing_mins_per_month'].value_counts(normalize=True)

677.02    0.033333
583.73    0.020833
797.06    0.020833
71.59     0.016667
73.49     0.012500
            ...
184.73    0.004167
305.58    0.004167
197.43    0.004167
361.19    0.004167
488.70    0.004167
Name: outgoing_mins_per_month, Length: 178, dtype: float64